<div id="linea_diagnostico" class="diagBase" style="display: none">
	<div class="form-group">
	  <label class="control-label col-sm-2" for="diagnostico">Diagnóstico:</label>
	  <div class="col-sm-4">
	      <div class="divalidacion divdiagnostico">
	        <select class="form-control diagnosticoSel diagnostico" name="diagnostico" onchange="validacion('diagnostico');"></select>
	      </div>
	   </div>
	  <button class="btn btn-danger btn-sm btn-eliminar-linea">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
	</div>
</div>