  {% if user.is_authenticated %}


    <ul class="nav nav-pills navbar-right">
	  <li role="presentation" class="active"><a href="/">Inicio</a></li>
	  <!-- <li role="presentation"><a href="prueba/">prueba</a></li> -->
	  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listados <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/veterinario">Veterinarios</a></li>
        <li><a href="/establecimiento">Establecimientos</a></li>
        <li><a href="/diagnostico">Diagnostico</a></li>
        
        <li role="separator" class="divider"></li>
        
        <li><a href="/categoria">Categorias</a></li>
        <li><a href="/explotacion">Explotaciones</a></li>
        <li><a href="/especie">Especie</a></li>
        <li><a href="/muestra">Muestras</a></li>
        <li><a href="/motivos">Motivos</a></li>
        <li><a href="/raza">Raza</a></li>
        <li><a href="/categoriae">Categoria de Especie</a></li>
        <li><a href="/especializacion">Especializacion</a></li>
        <li><a href="/parametros">Parametros</a></li>
        <li><a href="/valoresreferencia">Valores de Referencia</a></li>
        
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Altas<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/veterinario/alta">Veterinarios</a></li>
        <li><a href="/establecimiento/alta">Establecimientos</a></li>
        <li><a href="/diagnostico/alta">Diagnostico</a></li>
        
        <li role="separator" class="divider"></li>
        
        <li><a href="/categoria/alta">Categorias</a></li>
        <li><a href="/explotacion/alta">Explotaciones</a></li>
        <li><a href="/especie/alta">Especie</a></li>
        <li><a href="/muestra/alta">Muestras</a></li>
        <li><a href="/motivos/alta">Motivos</a></li>
        <li><a href="/raza/alta">Raza</a></li>
        <li><a href="/categoriae/alta">Categoria de Especie</a></li>
        <li><a href="/especializacion/alta">Especializacion</a></li>
        <!-- <li><a href="/parametros/alta">Parametros</a></li> -->
        <!-- <li><a href="/valoresreferencia/alta">Valores de Referencia</a></li> -->
        
      </ul>
    </li>
        
	  
	  <li role="presentation"><a href="logout/">Salir</a></li>
	</ul>
  

  

{% endif %}
