<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<!-- esto es para cuando el diseño es responsive, para crear un bototn que abra la barra de menu  -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collpase" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="/">Laboratorio de Diagnóstico <small>Dr. Raul Chifflet</small></a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/home_admin">Inicio</a></li>

						<li role="separator" class="divider"></li>

						<li><a href="/veterinario">Veterinarios</a></li>
						<li><a href="/establecimiento">Establecimientos</a></li>
						<li><a href="/diagnostico">Diagnostico</a></li>

						<li role="separator" class="divider"></li>

						<li><a href="/categoria">Categorias</a></li>
						<li><a href="/explotacion">Explotaciones</a></li>
						<li><a href="/especie">Especie</a></li>
						<li><a href="/muestra">Muestras</a></li>
						<li><a href="/motivos">Motivos</a></li>
						<li><a href="/raza">Raza</a></li>
						<li><a href="/categoriae">Categoria de Especie</a></li>
						<li><a href="/especializacion">Especializacion</a></li>
    				</ul>
    			</li>

				<!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Altas<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/veterinario/alta">Veterinarios</a></li>
						<li><a href="/establecimiento/alta">Establecimientos</a></li>
						<li><a href="/diagnostico/alta">Diagnostico</a></li>

						<li role="separator" class="divider"></li>

						<li><a href="/categoria/alta">Categorias</a></li>
						<li><a href="/explotacion/alta">Explotaciones</a></li>
						<li><a href="/especie/alta">Especie</a></li>
						<li><a href="/muestra/alta">Muestras</a></li>
						<li><a href="/motivos/alta">Motivos</a></li>
						<li><a href="/raza/alta">Raza</a></li>
						<li><a href="/categoriae/alta">Categoria de Especie</a></li>
						<li><a href="/especializacion/alta">Especializacion</a></li>
					</ul>
				</li> -->

				

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistema de Gestión<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/home_user">Inicio</a></li>
						
						<li role="separator" class="divider"></li>

						<li><a href="/solicitudanalisis/alta">Solicitud de Analisis</a></li>
						<li><a href="/protocolo/alta">Protocolo</a></li>
						<li><a href="/individuopadre/alta">Individuos</a></li>

						<li role="separator" class="divider"></li>

						<li><a href="/eliminacionprotocolo">Protocolo Eliminados</a></li>
						<li><a href="/tercerizar">Protocolos Tercerizados</a></li>

					</ul>
				</li>

			</ul>
			<form class="navbar-form navbar-left">
		        <div class="form-group">

				<div class="input-group">
				    <span class="input-group-btn">
				       <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
				    </span>
				    <input type="text" class="form-control" placeholder="Buscar Protocolo por N°">
				  </div>

		        </div>
		      </form>
		    <ul class="nav navbar-nav navbar-right">
        		<li><p class="navbar-text">Bienvenido <i>Usuario</i></p></li>
        		<li><a href="#">Logout</a></li>
    		</ul>
		</div>
	</div>
</nav>

