<div class="modal fade" id="infoIdentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Identificacion</h4>
      </div>
      <div class="modal-body">
        <p>Ingrese el N° de Caravana o el DNI del Dueño + Nombre del Animal</p>
        
      </div>
      
    </div>
  </div>
</div>