
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tipos de Datos</h4>
      </div>
      <div class="modal-body">
        <strong>Numero Entero: </strong><p>3</p>
        <strong>NUmero Decimal: </strong><p>1.2,</p>
        <strong>Positivo/Negativo: </strong><p>Checkbox</p>
        <strong>Texto: </strong><p>Textos Largos</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

