<div class="panel panel-default" id="panelProtocolo" style="display: none">
            <div class="panel-heading">
              <div class="form-group">
                <div class="divalidacion">
                  <label class="control-label col-sm-3" for="protocolo">N° de Protocolo:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control protocolo" id="protocolo" name="protocolo" onkeyup="validacion('protocolo');" value="{{ instance.protocolo }}">
                    </div>
                    <span class="help-block"></span>
                </div>    
              </div>
            </div><!-- fin panel heading2 -->
            
            <div class="panel-body">
              <div class="form-group">
                              <label class="control-label col-sm-2" for="muestra">Muestra:</label>
                    <div class="col-sm-4">
                      <div class="divalidacion">
                        <select class="form-control muestraSel muestra" name="muestra" onchange="validacion('muestra');"></select>
                      </div>
                    </div>
                    <div class="col-sm-6" align="right">
                      <button id="addBlockDiagnostico"  class="btn btn-default btn-sm">Agregar Diagnóstico  <span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
                
          <!-- panel de Diagnostico -->
                   
                            <div id="block-diagnostico">

                              <div class="form-group">
                                <label class="control-label col-sm-2" for="diagnostico">Diagnóstico:</label>
                                <div class="col-sm-4">
                                  <div class="divalidacion">
                                    <select class="form-control diagnosticoSel diagnostico" name="diagnostico" onchange="validacion('diagnostico');"></select>
                                  </div>
                                </div>
                                <button class="btn btn-danger btn-sm btn-eliminar-linea">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
                              </div>

                            </div>

         <!-- fin panel de Diagnostico -->               
              </div>

              <div class="panel-footer">
                <div id="rmvBlockProt" align="right">
                  <div  class="btn btn-sm" >
                    Eliminar Protocolo <span class="glyphicon glyphicon-remove"></span>
                  </div>
                </div> 
              </div> <!-- fin div panel footer -->

          </div>