{% extends 'base.html' %}
{% block content %}

{% include 'includes/protocoloCopy.html' %}

{% include 'includes/diagnosticoCopy.html' %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
      </div>
      <!-- <form class="form-horizontal" method="POST" action="">{% csrf_token %} -->
        <div class="form-horizontal">

        <div class="panel-body">

  <!-- panel de numero de protocolo -->
        <div id="block-protocolo" class="block-protocolo">

          <div class="panel panel-default lprotocol">
            <div class="panel-heading">
              <div class="form-group">
                <div class="divalidacion">
                <label class="control-label col-sm-3" for="protocolo">N° de Protocolo:</label>
                  <div class="col-sm-3">
                      <input type="text" class="form-control protocolo" id="protocolo" name="protocolo" onkeyup="validacion('protocolo');" value="{{ instance.protocolo }}">
                  </div>
                  <span class="help-block"></span>
                </div>
              </div>
            </div><!-- fin panel heading2 -->
            
            <div class="panel-body">
              <div class="form-group">
                <label class="control-label col-sm-2" for="muestra">Muestra:</label>
                  <div class="col-sm-4">
                  <div class="divalidacion divmuestra">
                    <select class="form-control muestraSel muestra" name="muestra" onchange="validacion('muestra');"></select>
                  </div>
                  </div>
                  <div class="col-sm-6" align="right">
                    <button id="addBlockDiagnostico"  class="btn btn-default btn-sm addBlockDiagnostico">Agregar Diagnóstico  <span class="glyphicon glyphicon-plus"></span></button>
                  </div>
              </div>
                
          <!-- panel de Diagnostico -->
                   
                            <div id="block-diagnostico">

                              <!-- <div class="form-group">
                                <label class="control-label col-sm-2" for="diagnostico">Diagnóstico:</label>
                                <div class="col-sm-4">
                                  <div class="divalidacion divdiagnostico">
                                    <select class="form-control diagnosticoSel diagnostico ldiag" name="diagnostico" onchange="validacion('diagnostico');"></select>
                                  </div>
                                </div>
                                <button class="btn btn-danger btn-sm btn-eliminar-linea">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
                              </div> -->

                            </div>

         <!-- fin panel de Diagnostico -->               
              </div>

              <div class="panel-footer">
                <div id="rmvBlockProt" class="rmvBlockProt" align="right">
                  <div  class="btn btn-sm" >
                    Eliminar Protocolo <span class="glyphicon glyphicon-remove"></span>
                  </div>
                </div> 
              </div> <!-- fin div panel footer -->

          </div> 
        </div>   
  <!-- fin panel de numero de protocolo -->

          <div class="form-group">
              <div class="col-sm-12" align="right">
               <button id="addBlockProtocolo"  class="btn btn-default btn-sm addBlockProtocolo">Agregar Protocolo  <span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>
              
        </div>  <!-- fin panel body -->
  
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-12" align="right">
              <!-- <a href="../../../individuopadre/alta" > -->
              <button type="button" class="btn btn-default btnvalidar" id="btnvalidar">Continuar</button>
              </a>
            </div>
          </div>
        </div> <!--fin panel footer-->
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>

{% endblock %}


{% block javascript %} 
<script type="text/javascript">
// el javascript de los select muestra y diagnostico estan en BS_select.js
$(document).ready(function() {
  var num = 0;
  $("body").on('click',".addBlockDiagnostico", function(){
    var newLine = $('#linea_diagnostico').clone()
                    .removeAttr('id')
                    .removeAttr('style')
                    .show();
    num = num + 1;
    var lineaId = "linea_diagnostico" + num;
    var lineaNueva = $('.diagBase').clone().attr('id', lineaId).removeClass('diagBase');
    $(this).parent().parent().parent().append(newLine);
    return false;
  });

  $(".addBlockProtocolo").click(function(){
    if($(this).parent().parent().parent().find('.muestraSel').find('option').length <=1 )
    {
      alert('No posee mas muestras.');
    }
    else
    {
      $('#panelProtocolo').clone()
                          .removeAttr('id')
                          .removeAttr('style')
                          .show()
                          .addClass('lprotocol')
                          .appendTo('#block-protocolo')
      return false; 
    }
  });

var arraymuestra = [];
    var selectmuestra = "{{instance.muestra.id}}"
        $.ajax({
            url:"/j_muestra/",
            type:"GET",
            dataType: "json",
            success: function(muestra){
                $.each(muestra,function(index, obj) 
                {   
                  if(obj.activo == true){
                    $('.muestraSel').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
                  arraymuestra[index]=obj;
                  }  
                });
            }
        }); // fin selectmuestra
  //console.log(arraymuestra);

var arraydiag = [];
    var selectdiagnostico = "{{instance.diagnostico.id}}"
        $.ajax({
            url:"/j_diagnostico/",
            type:"GET",
            dataType: "json",
            success: function(diagnostico){
                $.each(diagnostico,function(index, obj) 
                {  
                  if(obj.activo == true){  
                    $('.diagnosticoSel').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
                    arraydiag[index]=obj;
                  }  
                });
            }
        }); // fin selectdiagnostico
        //console.log(arraydiag);

  $("body").on('click', ".btn-eliminar-linea", function(){
    $(this).parent().parent().parent().find(".addBlockDiagnostico").attr('disabled', false);//habilita

    var countopt = 0;
    var count = 0;
    var array = [];
    var contprot = $(this).parent().parent().parent();
    var idmuestra = $(this).parent().parent().parent().parent().find('.muestraSel').val();
    conbd = getconbd("/j_diagnostico/", "GET");//consulta json a tabla especificada
    $(this).parent().parent().parent().parent().find('.divdiagnostico').each(function(i, elem) {
      var c = elem;
      array.push(c);
    });
    //console.log('contprot   ',contprot,'array ',array);
    
    var adiag=[];
    adiag=arraydiag;
    //console.log('elimino',adiag);      

      contprot.find(".divdiagnostico").each(function(index, e) {
        for (var i = 0; i < conbd.length; i++) {
            $(array[i]).find('.diagnosticoSel').find('option').remove();
            //console.log('arrayi  ',$(array[i]));      
        }
        for (var i = 0; i < conbd.length; i++) {
          for (var j = 0; j < conbd.length; j++) {
            $(array[i]).find('.diagnosticoSel').append('<option value=' + adiag[j].id + '>' + adiag[j].descripcion + '</option>');
          } 
        } 

      });

      $(this).parent().parent().parent().parent().find('.divdiagnostico').each(function(i, elem) {
        $(elem).find('.diagnosticoSel').find('option').each(function(j, opt) {
          if($(opt).val()==conbd[j].id && conbd[j].muestra_id!=idmuestra ){
            $(opt).remove();
            //console.log('opt',$(opt).val());
          }
          else{if(i==0){countopt++;}}
        });
      });  

      contprot.find(".divdiagnostico").each(function(index, e) {
        for (var i = 1; i < countopt; i++) {
          for (var j = i+1; j < countopt; j++) {
            $(array[j]).find('.diagnosticoSel').find('option[value="'+$(array[i]).find('.diagnosticoSel').val()+'"]').remove();
            $(array[i]).find('.diagnosticoSel').find('option[value="'+$(array[j]).find('.diagnosticoSel').val()+'"]').remove();
            //console.log('arrayi  ',$(array[i]),'arrayj ',$(array[j]),'array',$(array));     
          }
        } 
      });
  ///////////////////////////////////////////////////////////////////

    $(this).parent().parent().remove(); // elimina linea de diagnostico 
  });      

  $("body").on('click', ".rmvBlockProt", function(){

      if(window.confirm("¿Esta seguro que desea eliminar?"))
      {
      $(this).parent().parent().parent().parent().parent().find(".addBlockProtocolo").attr('disabled', false);//habilita addparametro 
      
        var count = 0;
        var array = [];
        var contprot = $(this).parent().parent().parent();
        conbd = getconbd("/j_muestra/", "GET");//consulta json a tabla especificada
        $('.block-protocolo').find('.divmuestra').each(function(i, elem) {
          var c = elem;
          array.push(c);
        });
        //console.log('contprot   ',contprot,'array ',array);
        
        var amuestra=[];
        amuestra=arraymuestra;
        //console.log('elimino',amuestra);      
    
          contprot.find(".divmuestra").each(function(index, e) {
            for (var i = 0; i < conbd.length; i++) {
                $(array[i]).find('.muestraSel').find('option').remove();
                //console.log('arrayi  ',$(array[i]));      
            }
            for (var i = 0; i < conbd.length; i++) {
              for (var j = 0; j < conbd.length; j++) {
                $(array[i]).find('.muestraSel').append('<option value=' + amuestra[j].id + '>' + amuestra[j].descripcion + '</option>');
              } 
            } 

          });
          contprot.find(".divmuestra").each(function(index, e) {
            for (var i = 1; i < conbd.length; i++) {
              for (var j = i+1; j < conbd.length; j++) {
                $(array[j]).find('.muestraSel').find('option[value="'+$(array[i]).find('.muestraSel').val()+'"]').remove();
                $(array[i]).find('.muestraSel').find('option[value="'+$(array[j]).find('.muestraSel').val()+'"]').remove();
                //console.log('arrayi  ',$(array[i]),'arrayj ',$(array[j]),'array',$(array));     
              }
            } 
          });
  ///////////////////////////////////////////////////////////////////    
      $(this).parent().parent().remove();
      }
  });

    //valida select option - Diagnostico Protocolo
    $('body').on('click','.addBlockDiagnostico',function(){
      //console.log('paso x aca');
      var countopt = 0;
      var count = 0;
      var array = [];
      var contprot = $(this).parent().parent().parent();
      var idmuestra = $(this).parent().parent().parent().parent().find('.muestraSel').val();
      conbd = getconbd("/j_diagnostico/", "GET");//consulta json a tabla especificada
      $(this).parent().parent().parent().parent().find('.divdiagnostico').each(function(i, elem) {
          $(elem).find('.diagnosticoSel').find('option').each(function(j, opt) {
            if($(opt).val()==conbd[j].id && conbd[j].muestra_id!=idmuestra ){
              $(opt).remove();
              //console.log('opt',$(opt).val());
            }
            else{if(i==0){countopt++;}}
          });
          var c = elem;
          array.push(c);
          count++;
          //console.log('count   ',count,'elem  ',elem,'conbd  ',conbd.length,conbd[i],'idmuestra',idmuestra,'countopt',countopt);
          if(count >= countopt){contprot.find(".addBlockDiagnostico").attr('disabled', true);}
          else{contprot.find(".addBlockDiagnostico").attr('disabled', false);}
      });
      //console.log('contprot   ',contprot,'array ',array);

      if(array.length > 1){
        contprot.find(".divdiagnostico").each(function(index, e) {
          for (var i = 0; i < countopt; i++) {
            for (var j = i+1; j < countopt; j++) {
              $(array[j]).find('.diagnosticoSel').find('option[value="'+$(array[i]).find('.diagnosticoSel').val()+'"]').remove();
              $(array[i]).find('.diagnosticoSel').find('option[value="'+$(array[j]).find('.diagnosticoSel').val()+'"]').remove();
              //console.log('arrayi  ',$(array[i]),'arrayj ',$(array[j]),'array',$(array));     
            }
          } 
        });
      }     
    });

    $('body').on('change','.diagnosticoSel',function(){
      //console.log('paso x aca');
      var count = 0;
      var array = [];
      var contprot = $(this).parent().parent().parent();
      conbd = getconbd("/j_diagnostico/", "GET");//consulta json a tabla especificada
      $('.block-protocolo').find('.divdiagnostico').each(function(i, elem) {
        var c = elem;
        array.push(c);
      });
      //console.log('contprot   ',contprot,'array ',array);
          
      if(array.length > 1){
        contprot.find(".divdiagnostico").each(function(index, e) {
          for (var i = 0; i < conbd.length; i++) {
            for (var j = i+1; j < conbd.length; j++) {
              $(array[j]).find('.diagnosticoSel').find('option[value="'+$(array[i]).find('.diagnosticoSel').val()+'"]').remove();
              $(array[i]).find('.diagnosticoSel').find('option[value="'+$(array[j]).find('.diagnosticoSel').val()+'"]').remove();
              //console.log('arrayi  ',$(array[i]),'arrayj ',$(array[j]),'array',$(array));     
            }
          } 
        });
      }
    });
    //fin validacion select option - diagnostico Protocolo

    //valida select option - Muestra Protocolo
    $('.addBlockProtocolo').click(function(){
      //console.log('paso x aca');
      var count = 0;
      var array = [];
      var contprot = $(this).parent().parent().parent();
      conbd = getconbd("/j_muestra/", "GET");//consulta json a tabla especificada
      $('.block-protocolo').find('.divmuestra').each(function(i, elem) {
        var c = elem;
        array.push(c);
        count++;
        //console.log('count   ',count,'elem  ',elem,'conbd  ',conbd.length);
        if(count >= conbd.length){contprot.find(".addBlockProtocolo").attr('disabled', true);}
        else{contprot.find(".addBlockProtocolo").attr('disabled', false);}
      });
      //console.log('contprot   ',contprot,'array ',array);

      if(array.length > 1){
        contprot.find(".divmuestra").each(function(index, e) {
          for (var i = 0; i < conbd.length; i++) {
            for (var j = i+1; j < conbd.length; j++) {
              $(array[j]).find('.muestraSel').find('option[value="'+$(array[i]).find('.muestraSel').val()+'"]').remove();
              $(array[i]).find('.muestraSel').find('option[value="'+$(array[j]).find('.muestraSel').val()+'"]').remove();
              //console.log('arrayi  ',$(array[i]),'arrayj ',$(array[j]),'array',$(array));     
            }
          } 
        });
      }     
    });    

    $('body').on('change','.muestraSel',function(){
      $(this).parent().parent().parent().find(".addBlockDiagnostico").attr('disabled', false);//habilita
      //console.log('paso x aca');
        var count = 0;
        var array = [];
        var contprot = $(this).parent().parent().parent();
        conbd = getconbd("/j_muestra/", "GET");//consulta json a tabla especificada
        $('.block-protocolo').find('.divmuestra').each(function(i, elem) {
          var c = elem;
          array.push(c);
        });
        //console.log('contprot   ',contprot,'array ',array);
        
          contprot.parent().find('.diagBase').remove();

        if(array.length > 1){
          contprot.find(".divmuestra").each(function(index, e) {
            for (var i = 0; i < conbd.length; i++) {
              for (var j = i+1; j < conbd.length; j++) {
                $(array[j]).find('.muestraSel').find('option[value="'+$(array[i]).find('.muestraSel').val()+'"]').remove();
                $(array[i]).find('.muestraSel').find('option[value="'+$(array[j]).find('.muestraSel').val()+'"]').remove();
                //console.log('arrayi  ',$(array[i]),'arrayj ',$(array[j]),'array',$(array));     
              }
            } 
          });
        }
    });
    //fin validacion select option - Muestra Protocolo

/*validacion*/
$("span.help-block").hide();

}); //ready 


  /*validacion*/
  function verificar(){
    var v1=0,v2=0,v3=0;

    v1=validacion('muestra');
    v2=validacion('diagnostico');
    v3=validacion('protocolo');
    //console.log(v1,v2,v3);
    if(v1 == true && v2 == true && v3 == true){
      return true;
    }
    else{
      return false;
    }
  }//verificar

  $(".btnvalidar").click(function(){
    var band=0;
    var array=[];
    if(verificar() == true){  
      if($(this).parent().parent().parent().parent().find('.lprotocol').length == 0){
        alert('No cargo protocolos');
        band=1;
      }
      else
      {
        $(this).parent().parent().parent().parent().find('.lprotocol').each(function(index, el) {
          var c=el;
          array.push(c);
          console.log('lprotocol',$(el).find('.diagBase').length);
          if($(el).find('.diagBase').length == 0){
            alert('Debe agregar un diagnostico');
            band=1;
          }
        });
          if($('.block-protocolo').find('.protocolo').length >= 2){
            for (var i = 0; i < array.length; i++) {
              for (var j = i+1; j < array.length; j++) {
                if($(array[i]).find('.protocolo').val()==$(array[j]).find('.protocolo').val()){
                  alert('Ingreso protocolos repetidos.');
                  band=1;
                  break;
                }
              }
            }
          }         

        //console.log('band',band);
        if(band==0){
          $("#formvalidar").submit();
          guardar_proto();
          $(location).attr('href',"../../../individuopadre/alta");
        }
      }
        
    }

  });// boton validar

//funcion retorna array de consulta bd 
  function getconbd1(url, method, muestra)
  {
      return JSON.parse($.ajax({
          data: 'muestra=' + muestra,
          type: method,
          url: url,
          dataType: 'json',
          async:false,
          success: function(data)
          {
              return data;
          }
      }).responseText);
  }//consulta bd

  //funcion retorna array de consulta bd 
  function getconbd(url, method)
  {
      return JSON.parse($.ajax({
          type: method,
          url: url,
          dataType: 'json',
          async:false,
          success: function(data)
          {
              return data;
          }
      }).responseText);
  }//consulta bd

  function guardar_proto(){
    let protoSave = [];
    let diagSave = [];
    $(".lprotocol").each(function(){
        var prot = $(this).find("#protocolo").val();

        $(this).find('.diagnostico').each(function(){
          var diag = $(this).val();

          protoSave.push(prot);
          diagSave.push(diag);
          
          
        });
    });
    localStorage.setItem( "prot", JSON.stringify( protoSave ) );
    localStorage.setItem( "diag", JSON.stringify( diagSave ) );
    localStorage.setItem( "posicion", 2);
  }

  controlGPS();

  function controlGPS(){
      if( localStorage.getItem( "posicion" ) ){
        if( localStorage.getItem( "posicion" ) == 1 )
        {

        }
        else
        {
          $(location).attr('href',"http://127.0.0.1:8000/home_user/");  
        }
      }
      else{
        $(location).attr('href',"http://127.0.0.1:8000/home_user/");      
      }
    }


  function validacion(campo){
    if(campo==='protocolo'){
        var truefalse=true;
        var error=-1;
        $('.'+campo).each(function(i, elem){
        var inputtext = $(elem).val();
        ////console.log('indice  ',indice);
        
        //inputtext = document.getElementsByTagsName(campo).value;
        //console.log('inputtext',inputtext);
        //var truefalse = true;
        var conbd = {};//variable consulta base datos
        var surl='{{title}}';//variable para url capta titulo
        /*surl=surl.substr(6).toLowerCase().replace(/\s/g,"");//quita palabara "nueva" y tranf minuscula, elimina espacios*/
        var vurl=surl.split(' ');//vector del titulo
        var nuevmodif=vurl[0];//guarda dato nuevo o modificar
        vurl.shift();//elimina elemento inicial
        if(vurl.length == 2){vurl=(vurl[0]+vurl[1]).toLowerCase();}
        else{vurl=(vurl[0]).toLowerCase();}
        //console.log('var vurl ',vurl);
        conbd = getconbd("/j_"+vurl+"/", "GET");//consulta json a tabla especificada
        //console.log('conbd',conbd);
        for(var i=0;i < conbd.length;i++){    
            if(conbd[i].numero == inputtext.toUpperCase().trim() && conbd[i].id != "{{instance.id}}"){
                //console.log(conbd[i].numero,'-',inputtext);
                truefalse=false;
                //console.log('truefalse adentro',truefalse);      
            }
        }
        
        //console.log('truefalse afuera',truefalse);

            
            //console.log(inputtext);
        if(truefalse == false){
            $(elem).parent().parent().attr("class","has-error has-feedback");
            $(elem).parent().parent().children("span").text("Existe "+campo+" en base de datos").show();
            //return false;
            error++;
        }
        else{
            if(inputtext == null || inputtext.length == 0 || /^\s+$/.test(inputtext)){
                $(elem).parent().parent().attr("class","has-error has-feedback");
                $(elem).parent().parent().children("span").text("Debe ingresar una "+campo+"").show();
                //return false;
                error++;
            }
            else{
                  if( isNaN(inputtext)){
                    $(elem).parent().parent().attr("class","has-error has-feedback");
                    $(elem).parent().parent().children("span").text("No se acepta letras").show();
                  //return false;
                  error++;
                  }
                  else{ 
                    $(elem).parent().parent().attr("class","has-success has-feedback");
                    $(elem).parent().parent().children("span").text("").hide();
                    //return true;
                    }                
            }
        }     
        });//for each protocolo
        
        if(error > 0){
          return false;
        }
        else{
          return true;
        }        
    }//protocolo

    if(campo==='muestra' || campo==='diagnostico'){
      var truefalse=true;
      var error=-1;
      if(campo==='diagnostico'){error=-2}//solo para diagnostico
      $('.'+campo).each(function(i, elem){
      var indice = $(elem).val();
      ////console.log('indice  ',indice);
      if(indice == null || indice == 0 ){
        if(campo == 'muestra'){$(elem).parent().attr("class","has-error has-feedback divmuestra");}
        if(campo == 'diagnostico'){$(elem).parent().attr("class","has-error has-feedback divdiagnostico");}
        error++;
        ////console.log('indice2  ',indice);
        }
      else{
        if(campo == 'muestra'){$(elem).parent().attr("class","has-success has-feedback divmuestra");}
        if(campo == 'diagnostico'){$(elem).parent().attr("class","has-success has-feedback divdiagnostico");}
        ////console.log('indice3  ',indice);
        } 
      });
      
      if(error > 0){
        return false;
      }
      else{
        return true;
      }   
    }//muestra

    /*if(campo==='diagnostico'){
      $('.'+campo).each(function(i, elem){
      var diag = $(elem).val();
      ////console.log('diag  ',diag,'  i',i);
      if(diag == null || diag == 0 ){
        $(elem).parent().attr("class","has-error has-feedback");
        error++;
        ////console.log('indice2  ',diag);
        }
      else{
        $(elem).parent().attr("class","has-success has-feedback");
        ////console.log('indice3  ',diag);
        } 
      });

      if(error > 0){
        return false;
      }
      else{
        return true;
      }
    }//select*/        
  }//validacion
</script> 
{% endblock %}

