{% extends 'base.html' %}
{% block content %}


<h1> {{ title }} </h1>
<form class="form-horizontal" method="POST" action="">{% csrf_token %}
	<div class="form-group">
		<!-- Descripcion -->
		<label class="control-label col-sm-2" for="descripcion">Descripcion:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ descripcion }}">
		</div>

		<!-- Especie -->
		<label class="control-label col-sm-2" for="especie">Especie:</label>
		<div class="col-sm-4">
			<ul>
				{% for x in form.especie %}
				<li>{{ x.descripcion }}</li>
			    {% endfor %}
			</ul>  
		</div> 

		  <!--<div class="form-group">
		    <label>Group</label>
		    <select class="form-control" ng-model="data.groupSelect">
		      <option ng-repeat="group in data.groups" value="{{group.id}}" >{{group.name}}</option>
		    </select>
		  </div>-->

		<div class="form-group">
		    <div class="col-sm-12">
				<button type="submit" class="btn btn-default">Enviar</button>
			</div>
		</div>
	</div>
</form>

<!-- <form method="POST" action="">{% csrf_token %}
	<table>
		<tr>
			<td>Descripcion:</td>
			<td>{{ form.descripcion }}</td>
		</tr>
		<tr>
			<td>Especie:</td>
			<td>{{ form.especie }}</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="Enviar">
			</td>
		</tr>
	</table>
</form>
 -->
{% endblock %}