{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }}</h3>
			</div>
			<form class="form-horizontal" id="formvalidar" method="POST" action="">{% csrf_token %}
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label col-sm-2" for="descripcion">Descripcion:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="descripcion" name="descripcion" onkeyup="validacion('descripcion');" value="{{ instance.descripcion }}">
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="sel_especie">Especie:</label>
						<div class="col-sm-10">
							<select name="especie" class="form-control" id="sel_especie" onchange="validacion('sel_especie');"></select>
						</div>
					</div>
				</div>
			
				<div class="panel-footer">
					<div class="row">
				   		<div class="col-sm-6" align="left">
			    			<a href="{% url 'bsadmin:home_admin' %}"><span class="glyphicon glyphicon-chevron-left"></span>  Volver</a>
						</div>
			    		<div class="col-sm-6" align="right">
							<button type="button" class="btn btn-default" id="btnvalidar">Enviar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}


{% block javascript %} 
<script type="text/javascript">
$(document).ready(function() {
	var select = "{{ instance.especie.id }}"
	$.ajax({
        url:"/j_especie/",
        type:"GET",
        dataType: "json",
        success: function(especie){
        	console.log(select)
        	$('#sel_especie').append('<option selected value=""></option>');
        	$.each(especie,function(index, obj) 
			{	
				if(obj.activo == true){
					if(obj.id == select){
					$('#sel_especie').append('<option selected value=' + obj.id + '>' + obj.descripcion + '</option>');
					}
					else{
						$('#sel_especie').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');	
					}
				}
			});
        }
    });	

/*validacion*/
$("span.help-block").hide();
}); //ready 

/*validacion*/
function verificar(){
	var v1=0,v2=0;

	v1=validacion('descripcion');
	v2=validacion('sel_especie');
	console.log(v1,v2);
	if(v1 == true && v2 == true){
		return true;
	}
	else{
		return false;
	}
}//verificar

$("#btnvalidar").click(function(){
	if(verificar() == true){
		$("#formvalidar").submit();
	}
});// boton validar

//funcion retorna array de consulta bd 
function getconbd(url, method)
{
    return JSON.parse($.ajax({
        type: method,
        url: url,
        dataType: 'json',
        async:false,
        success: function(data)
        {
            return data;
        }
    }).responseText);
}//consulta bd

function validacion(campo){
	if(campo==='descripcion'){
		var descri = $('#descripcion').val();
		var truefalse = true;
		var conbd = {};//variable consulta base datos
        var surl='{{title}}';//variable para url capta titulo
		/*surl=surl.substr(6).toLowerCase().replace(/\s/g,"");//quita palabara "nueva" y tranf minuscula, elimina espacios*/
		var vurl=surl.split(' ');//vector del titulo
		var nuevmodif=vurl[0];//guarda dato nuevo o modificar
		vurl.shift();//elimina elemento inicial
		if(vurl.length == 2){vurl=(vurl[0]+vurl[1]).toLowerCase();}
		else{vurl=(vurl[0]).toLowerCase();}
		console.log('var vurl ',vurl);
		conbd = getconbd("/j_"+vurl+"/", "GET");//consulta json a tabla especificada
        console.log('conbd',conbd);
		if(nuevmodif != 'Modificar'){
            for(var i=0;i < conbd.length;i++){
                console.log('conbd[i]',conbd[i].descripcion);
                if(conbd[i].descripcion.toUpperCase() == descri.toUpperCase().trim()){
                    console.log(conbd[i].descripcion,'-',descri);
                    truefalse=false;
                    console.log('truefalse adentro',truefalse);
                    break;      
                }
            }
        }
        else{
	        for(var i=0;i < conbd.length;i++){    
	            if(conbd[i].descripcion.toUpperCase() == descri.toUpperCase().trim() && conbd[i].id != "{{instance.id}}"){
	                console.log(conbd[i].descripcion,'-',descri);
	                truefalse=false;
	                console.log('truefalse adentro',truefalse);      
	            }
	        }
        }//selector de modificacion
        console.log('truefalse afuera',truefalse);

		descripcion = document.getElementById(campo).value;
		console.log(descripcion);
		if(truefalse == false){
			$("#icon"+campo).remove();
			$('#'+campo).parent().parent().attr("class","form-group has-error has-feedback");
			$('#'+campo).parent().children("span").text("Existe descripcion en base de datos").show();
			$('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-remove form-control-feedback'></span>");
			return false;
		}
		else{
			if(descripcion == null || descripcion.length == 0 || /^\s+$/.test(descripcion)){
				$('#icon'+campo).remove();
				$('#'+campo).parent().parent().attr("class","form-group has-error has-feedback");
				$('#'+campo).parent().children("span").text("Debe ingresar una descripcion").show();
				$('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-remove form-control-feedback'></span>");
				return false;
			}
			else{
				$("#icon"+campo).remove();
				$('#'+campo).parent().parent().attr("class","form-group has-success has-feedback");
				$('#'+campo).parent().children("span").text("").hide();
				$('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-ok form-control-feedback'></span>");
				return true;				
			}
		}	
	}//descripcion
	
	if(campo==='sel_especie'){
		indice = document.getElementById(campo).selectedIndex;
		console.log(indice);
		if(indice == null || indice == 0){
			$('#sel_especie').parent().parent().attr("class","form-group has-error");
			return false;
		}
		else{
			$('#sel_especie').parent().parent().attr("class","form-group has-success");
			return true;
		}
	}//especie			
}//validacion

</script>
{% endblock %}