{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
    	
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <div class="panel-body">
            	<!-- SOLICITUD DE ANALISIS -->        	
            	<div class="col-sm-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h3 class="panel-title">Solicitud de Analisis</h3>
			            </div>
			            <div class="panel-body">
			            	<div class="col-sm-6">
								<dl class="dl-horizontal">
									<dt>Veterinario</dt>
									<dd>{{ instance.solicitud.veterinario }}</dd>
									<dt>Fecha</dt>
									<dd>{{ instance.solicitud.fecha }}</dd>
									<dt>RENSPA</dt>
									<dd>{{ instance.solicitud.establecimiento.RENSPA }}</dd>
									<dt>Establecimiento</dt>
									<dd>{{ instance.solicitud.establecimiento }}</dd>
									<dt>N. de Protocolo</dt>
									<dd>{{ instance.protocolo.numero }}</dd>
			            		</dl>
			            	</div>
			            	<div class="col-sm-6">
								<dl class="dl-horizontal">
									<dt>Diagnostico</dt>
									<dd>{{ instance.diagnostico }}</dd>
									<dt>Muestra</dt>
									<dd>{{ instance.diagnostico.muestra }}</dd>
									<dt>Tecnica</dt>
									<dd>{{ instance.diagnostico.tecnica }}</dd>
									
			            		</dl>
			            	</div>
			            </div>
			        </div>
				</div>
				<!-- FORM -->
				<div class="col-sm-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h3 class="panel-title">Detalle</h3>
			            </div>
						<form class="form-horizontal" id="formvalidar" method="POST" action="">{% csrf_token %}
							<div class="panel-body">
								<div class="form-group">
									<label class="control-label col-sm-2" for="sel_protocolo">Protocolo:</label>
									<div class="col-sm-3">
										<select name="protocolo" class="form-control" id="sel_protocolo" onchange="validacion('sel_protocolo');"></select>
									</div>
								</div>
 								<div class="form-group">
									<label class="control-label col-sm-2" for="fecha">Fecha:</label>
			                        <div class="col-sm-3">
			                            <input type="text" class="form-control" id="fecha" name="fecha" value="{{ instance_ep.fecha }}">
			                        </div>
			                    </div>
								<div class="form-group">
			                        <label class="control-label col-sm-2" for="motivoBaja">Motivo:</label>
			                        <div class="col-sm-9">
			                            <textarea row="3" class="form-control" id="motivoBaja" name="motivoBaja" value="">{{instance_ep.motivoBaja}} </textarea>
			                        </div>
			                    </div>
							</div>

							<div class="panel-footer">
								<div class="row">
						    		<div class="col-sm-12" align="right">
										<button type="submit" class="btn btn-default">Generar informe de Baja</button>
									</div>
								</div>
							</div>
						</form>


			                    
			                    
			            	
			        </div>
				</div>

            </div> <!--fin panel body-->

           
    	</div>
    </div>
</div>

{% endblock %}
{% block javascript %} 
<script type="text/javascript">
$(document).ready(function() {
	  $( "#fecha" ).datepicker();

	var select = "{{ instance.protocolo.id }}"
	$.ajax({
        url:"/j_protocolo/",
        type:"GET",
        dataType: "json",
        success: function(protocolo){
        	console.log(select)
        	$('#sel_protocolo').append('<option selected value="{{ instance.protocolo.id }}"></option>');
        	$.each(protocolo,function(index, obj) 
			{	
					if(obj.id == select){
					$('#sel_protocolo').append('<option selected value=' + obj.id + '>' + obj.numero + '</option>');
					}
					else{
						$('#sel_protocolo').append('<option value=' + obj.id + '>' + obj.numero + '</option>');	
					}
				
			});
        }
    });
});
</script>

{% endblock %}
