{% extends 'base.html' %}
{% block content %}


<h1> {{ title }} </h1>

<form method="POST" action="">{% csrf_token %}
	<div class="controls">
		<div class="row">
            <div class="col-md-6">
                <div class="form-group">
			    	<label for="descripcion">Descripcion:</label>
			    	<input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ instance.descripcion }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
			    	<label for="tecnica">Tecnica:</label>
			    	<input type="text" class="form-control" id="tecnica" name="tecnica" value="{{ instance.tecnica }}">
			    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- SELECT que no funciona:  -->
                <div class="form-group">
			    	<label for="muestra">Muestra:</label>
			    	<input type="text" class="form-control" id="muestra" name="muestra" value="{{ instance.muestra }}">
                </div>
            </div>
            <div class="col-md-3">
            	<div class="form-check disabled">
			    	<label class="form-check-label" for="tercerizacion">
    				<input type="checkbox" class="form-check-input" id="tercerizacion" name="tercerizacion" value="{{ instance.tercerizacion }}" disabled> Tercerizacion</label>
                </div>
            </div>
        </div>

<!-- DIV PARAMETROS -->
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="parametros">
<form method="POST" action="">{% csrf_token %}
<div class="panel panel-default">
  <div class="panel-heading">

				<label for="grupo">Grupo de Parametros</label>
				<input type="text" class="form-control" id="grupo" name="grupo" value="{{ instance.grupo }}">

  </div>
  <div class="panel-body">
    
	<table class="table table-stripedtable condensed">
		<thead>
			<tr class="active">
				<td><label for="descripcion">Descripcion</label></td>
				<td>
					<label for="tipo_de_dato">Tipo de Dato 
						<a href="#" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</label>
				</td>
				<td><label>Valor Predeterminado / Referencia</label></td>
				<td><label for="unidadmedida">Unidad de Medida</label></td>
				
			</tr>
		</thead>



<!-- inicio modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tipos de Datos</h4>
      </div>
      <div class="modal-body">
        <strong>Numero Entero: </strong><p>3</p>
        <strong>NUmero Decimal: </strong><p>1.2,</p>
        <strong>Positivo/Negativo: </strong><p>Checkbox</p>
        <strong>Texto: </strong><p>Textos Largos</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- fin modal -->



		<tbody>
			<tr id="parametro_js">
				<td><input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ instance.descripcion }}"></td>
				<td>
					<!-- REVISAR -->
					<select class="selectpicker">
						<option>Numero Entero</option>
						<option>Numero con decimales</option>
						<option>Positivo/Negativo</option>
						<option>Texto</option>
					</select>
				</td>
				<td><a href="#" class="btn btn-default">Ingresar</a></td>
				<td><input type="text" class="form-control" id="unidadmedida" name="unidadmedida" value="{{ instance.unidadmedida }}"></td>
			</tr>
			<tr>
				<td colspan="4" align="right"><a href="#">Agregar parametro <span class="glyphicon glyphicon-plus"></span></a></td>
			</tr>
		</tbody>
	</table>
</form>
  </div> <!-- fin div panel-body -->
</div> <!-- fin div panel -->
	
		<div class="row">
			<div class="col-md-12">
                <a href="#">Agregar grupo de parametros <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>

			</div>
		</div>
	</div>
	
<!-- FIN DEL DIV DE PARAMETROS -->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
			    	<label for="piepagina">Texto para incluir en pie de pagina:</label>
			    	<textarea class="form-control" id="piepagina" name="piepagina" value="{{ instance.piepagina }}"> </textarea>
			    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-check disabled">
			    	<label class="form-check-label" for="activo">
    				<input type="checkbox" class="form-check-input" id="activo" name="activo" value="{{ instance.activo }}" disabled> Activo</label>
                </div>
            </div>
        </div>


        <div class="row">
			<div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="Enviar">
            </div>
        </div>
    </div>
</form>        

		
{% endblock %}
