{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <form class="form-horizontal" id="formvalidar" method="POST" action="">{% csrf_token %}
                <div class="panel-body">

                    <div class="form-group">
                        <div class="divalidacion">
                            <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="nombre" name="nombre" onkeyup="validacion('nombre');" value="{{ instance.nombre }}">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="divalidacion">
                            <label class="control-label col-sm-2" for="partido">Partido:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="partido" name="partido" onkeyup="validacion('partido');" value="{{ instance.partido }}">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="divalidacion">
                            <label class="control-label col-sm-2" for="propietario">Propietario:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="propietario" name="propietario" onkeyup="validacion('propietario');" value="{{ instance.propietario }}">
                                <span class="help-block"></span>
                            </div>
                        </div>    
                        <div class="divalidacion">    
                            <label class="control-label col-sm-2" for="veterinario">Veterinario:</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="veterinario" id="veterinario" onchange="validacion('veterinario');"></select>
                            </div>
                        </div>    
                    </div>
                    <div class="form-group">
                        <div class="divalidacion">                    
                            <label class="control-label col-sm-2" for="RENSPA">RENSPA:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="RENSPA" name="RENSPA" onkeyup="validacion('RENSPA');" value="{{ instance.RENSPA }}">
                                <span class="help-block"></span>
                            </div>
                        </div>    
                        <div class="divalidacion">    
                            <label class="control-label col-sm-2" for="CUIT">CUIT:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="CUIT" name="CUIT" onkeyup="validacion('CUIT');" value="{{ instance.CUIT }}">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>    

                    <div class="form-group">
                        <div class="divalidacion">
                            <label class="control-label col-sm-2" for="categorias">Categorias:</label>
                            <div class="col-sm-4">
                                <label class="checkbox-inline  form-check-label" for="categorias">
                                <div form-check id="categorias" onchange="validacion('categoriasin');">
                                    <span class="help-block"></span>
                                </div>
                                </label>
                            </div>
                        </div>
  
                        <div class="divalidacion">
                            <label class="control-label col-sm-2" for="explotacion">Explotación:</label>
                            <div class="col-sm-4">
                                <label class="checkbox-inline form-check-label" for="explotacion">
                                    <div form-check id="explotacion" onchange="validacion('explotacionin');">
                                        <span class="help-block"></span>
                                    </div>
                                </label>
                            </div>
                        </div>    
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="activo">Estado:</label>
                        <div class="col-sm-10">
                            <div class="checkbox form-check disabled">
                                <label class="form-check-label" for="activo">
                                    <input type="checkbox" class="form-check-input" id="activo" name="activo" value="{{ instance.activo }}" checked disabled> Activo
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12" align="right">
                            <button type="button" class="btn btn-default" id="btnvalidar">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %} 
<script type="text/javascript">


$(document).ready(function() {
        var selectveterinario = "{{instance.veterinario.id }}"

        var catelist = []
            "{% for x in instance.categorias.all %}"
        catelist.push("{{x.id}}")
            "{% endfor %}"

        var explolist = []    
            "{% for x in instance.explotacion.all %}"
        explolist.push("{{x.id}}")
            "{% endfor %}"
        $.ajax({
            url:"/j_veterinario/",
            type:"GET",
            dataType: "json",
            success: function(veterinario){
                $('#veterinario').append('<option selected value=""></option>');
                $.each(veterinario,function(index, obj) 
                {   
                    console.log(veterinario)
                    if(obj.id == selectveterinario)
                    {
                    $('#veterinario').append('<option selected value=' + obj.id + '>' + obj.apellido +','+ obj.nombre + '</option>');
                    }
                    else{
                    $('#veterinario').append('<option value=' + obj.id + '>' + obj.apellido +','+ obj.nombre + '</option>');
                    }
                });
            }
        }); // finaliza el primer select 
        $.ajax({
            url:"/j_categoria/",
            type:"GET",
            dataType: "json",
            success: function(categoria){
                console.log("categoria: " + catelist)
                $.each(categoria,function(index, obj) 
                {   
                    $('#categorias').append('<br><input type="checkbox" id="categoriasin" name="categorias" value="'+ obj.id+'"> '+obj.descripcion);
                });

                $("#categorias > input").each(function(){
                    for (var i = catelist.length - 1; i >= 0; i--) {
                    
                    if($(this).attr("value") == catelist[i])
                    {
                         this.setAttribute("checked", "checked")
                    } //if
                    } //for
                }); // Categorias Checked
            }
        }); // primer checkbox
        $.ajax({
            url:"/j_explotacion/",
            type:"GET",
            dataType: "json",
            success: function(explotacion){
                console.log("explotacion:" + explolist)
                $.each(explotacion,function(index, obj) 
                {      
                    $('#explotacion').append('<br><input type="checkbox" id="explotacionin" name="explotacion" value="'+ obj.id+'"> '+obj.descripcion);
                });

                $("#explotacion > input").each(function(){
                    for (var i = explolist.length - 1; i >= 0; i--) {
                    
                        if($(this).attr("value") == explolist[i])
                        {
                             this.setAttribute("checked", "checked")
                        } //if
                    } //for
                }); // Explotacion Checked
            }
        }); // segundo checkbox

/*validacion*/
$("span.help-block").hide();
    });//ready  


/*validacion*/
function verificar(){
    var v1=0,v2=0,v3=0,v4=0,v5=0,v6=0,v7=0,v8=0;

    v1=validacion('nombre');
    v2=validacion('partido');
    v3=validacion('propietario');
    v4=validacion('RENSPA');
    v5=validacion('CUIT');
    v6=validacion('veterinario');
    v7=validacion('categoriasin');
    v8=validacion('explotacionin');

    console.log(v1,v2,v3,v4,v5,v6,v7,v8);
    if(v1 == true && v2 == true && v3 == true && v4 == true && v5 == true && v6 == true && v7 == true && v8 == true){
        return true;
    }
    else{
        return false;
    }
}//verificar

$("#btnvalidar").click(function(){
    if(verificar() == true){
        $("#formvalidar").submit();
    }
});// boton validar

function validacion(campo){
    if(campo==='nombre' || campo==='partido' || campo==='propietario' || campo==='RENSPA'){
        inputtext = document.getElementById(campo).value;
        console.log(inputtext);
        if(inputtext == null || inputtext.length == 0 || /^\s+$/.test(inputtext)){
            $('#icon'+campo).remove();
            $('#'+campo).parent().parent().attr("class","has-error has-feedback");
            $('#'+campo).parent().children("span").text("Debe ingresar una "+campo+"").show();
            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-remove form-control-feedback'></span>");
            return false;
        }
        else{
            $("#icon"+campo).remove();
            $('#'+campo).parent().parent().attr("class","has-success has-feedback");
            $('#'+campo).parent().children("span").text("").hide();
            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-ok form-control-feedback'></span>");
            return true;                
        }
    }//nombre,partido,propietario,renspa

    if(campo==='CUIT'){
        CUIT = document.getElementById(campo).value;
        console.log(CUIT);
        if(CUIT == null || CUIT.length == 0 || /^\s+$/.test(CUIT)){
            $('#icon'+campo).remove();
            $('#'+campo).parent().parent().attr("class","has-error has-feedback");
            $('#'+campo).parent().children("span").text("Debe ingresar un "+campo+"").show();
            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-remove form-control-feedback'></span>");
            return false;
        }
        else
        {
            if( isNaN(CUIT)){
                $('#icon'+campo).remove();
                $('#'+campo).parent().parent().attr("class","has-error has-feedback");
                $('#'+campo).parent().children("span").text("No se acepta letras").show();
                $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-remove form-control-feedback'></span>");
                return false;
            }
            else
            {
                if (!(/^\d{11}$/.test(CUIT))){
                    $('#icon'+campo).remove();
                    $('#'+campo).parent().parent().attr("class","has-error has-feedback");
                    $('#'+campo).parent().children("span").text("Debe ingresar solo 11 digitos").show();
                    $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-remove form-control-feedback'></span>");
                    return false;
                }
                else{
                    $("#icon"+campo).remove();
                    $('#'+campo).parent().parent().attr("class","has-success has-feedback");
                    $('#'+campo).parent().children("span").text("").hide();
                    $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-ok form-control-feedback'></span>");
                    return true;
                } 
            }                
        }
    }//CUIT    

    if(campo==='veterinario'){
        indice = document.getElementById(campo).selectedIndex;
        console.log(indice);
        if(indice == null || indice == 0){
            $('#veterinario').parent().parent().attr("class","has-error");
            return false;
        }
        else{
            $('#veterinario').parent().parent().attr("class","has-success");
            return true;
        }
    }//veterinario          

    if(campo==='categoriasin'){
        categoriasin = $("#categorias input:checked").length;
        console.log(categoriasin);
        if(categoriasin == 0 ){
            $('#icon'+campo).remove();
            $('#'+campo).parent().parent().attr("class","has-error has-feedback");
            $('#'+campo).parent().children("span").text("Debe seleccionar al menos una categoria").show();
            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-remove form-control-feedback'></span>");
            return false;
        }
        else{
            $("#icon"+campo).remove();
            $('#'+campo).parent().parent().attr("class","has-success has-feedback");
            $('#'+campo).parent().children("span").text("").hide();
            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-ok form-control-feedback'></span>");
            return true;                
        }
    }//categorias

    if(campo==='explotacionin'){
        explotacionin = $("#explotacion input:checked").length;
        console.log(explotacionin);
        if(explotacionin == 0 ){
            $('#icon'+campo).remove();
            $('#'+campo).parent().parent().attr("class","has-error has-feedback");
            $('#'+campo).parent().children("span").text("Debe seleccionar al menos una explotacion").show();
            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-remove form-control-feedback'></span>");
            return false;
        }
        else{
            $("#icon"+campo).remove();
            $('#'+campo).parent().parent().attr("class","has-success has-feedback");
            $('#'+campo).parent().children("span").text("").hide();
            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-ok form-control-feedback'></span>");
            return true;                
        }
    }//explotacionin

}//validacion

</script>
{% endblock %}