{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
	<form class="form-horizontal" id="formvalidar" method="POST" action="">{% csrf_token %}
    	
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <div class="panel-body">
            	<!-- SOLICITUD DE ANALISIS -->        	
            	<div class="col-sm-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h3 class="panel-title">Solicitud de Analisis</h3>
			            </div>
			            <div class="panel-body">
			            	<div class="col-sm-6">
								<dl class="dl-horizontal">
									<dt>Veterinario</dt>
									<dd>{{ instance.solicitud.veterinario }}</dd>
									<dt>Fecha</dt>
									<dd>{{ instance.solicitud.fecha }}</dd>
									<dt>RENSPA</dt>
									<dd>{{ instance.solicitud.establecimiento.RENSPA }}</dd>
									<dt>Establecimiento</dt>
									<dd>{{ instance.solicitud.establecimiento }}</dd>
									<dt>N. de Protocolo</dt>
									<dd>{{ instance.protocolo.numero }}</dd>
			            		</dl>
			            	</div>
			            	<div class="col-sm-6">
								<dl class="dl-horizontal">
									<dt>Diagnostico</dt>
									<dd>{{ instance.diagnostico }}</dd>
									<dt>Muestra</dt>
									<dd>{{ instance.diagnostico.muestra }}</dd>
									<dt>Tecnica</dt>
									<dd>{{ instance.diagnostico.tecnica }}</dd>
									
			            		</dl>
			            	</div>
			            </div>
			        </div>
				</div>
				<div class="col-sm-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h3 class="panel-title">Detalle</h3>
			            </div>
			            <div class="panel-body">
			                    <div class="form-group">
			                        <div class="divalidacion">    
			                            <label class="control-label col-sm-2" for="fecha">Fecha:</label>
			                            <div class="col-sm-3">
			                                <input type="date" class="form-control" id="fecha" name="fecha" value="">
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label col-sm-2" for="motivoBaja">Motivo:</label>
			                        <div class="col-sm-9">
			                            <textarea row="3" class="form-control" id="motivoBaja" name="motivoBaja" value=""> </textarea>
			                        </div>
			                    </div>
			            	
			            </div>
			        </div>
				</div>

            </div> <!--fin panel body-->

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12" align="right">
                    	<input type="hidden" value="{{instance.protocolo.numero}}" id="protocolo">
                    	<!-- tiene que generar pdf en ventana a parte y despues volver al home_user -->
                    	<input type="submit" value="Generar informe de Baja">
                    </div>
                </div>
            </div> <!--fin panel footer-->
    	</div>
	</form>
    </div>
</div>

{% endblock %}
{% block javascript %} 


{% endblock %}
