{% extends 'base.html' %}
{% block content %}

{% include 'includes/modal_Info_Iden.html' %}
{% include 'includes/modalMasOpciones.html' %}
{% include 'includes/modalMasOpcionesCopy.html' %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }}</h3>
			</div>
			<form class="form-horizontal" method="POST" id='formindi' action="">{% csrf_token %} 
			<div class="form-horizontal">
				<div class="panel-body">
					<table class="table table-striped table-hover table-condensed table-responsive" align="center" id="tabla">
						<thead class="thead-default">
							<tr>
								<th class="col-sm-1"><label for="numero">N°</label></th>
								<th class="col-sm-6"><label for="identificacion">Identificacion <a href="#" data-toggle="modal" data-target="#infoIdentModal"><span class="glyphicon glyphicon-question-sign"></span></a></label></th>
								<th class="col-sm-3"><label for="raza">Raza</label></th>
								<th class="col-sm-1"></th>
								<th class="col-sm-3"><label for="numero"><button id="agregar_individuo"  class="btn btn-default btn-sm">Agregar Individuo  <span class="glyphicon glyphicon-plus"></span></button></label></th>
							</tr>
						</thead>
						<tbody >
							<tr id="hidden-row-ind" style="display: none">
								<td class="numeracion">
									<p class="contador"></p>
								</td>
								<td><input type="text" maxlength="8" class="form-control identificacion" id="identificacion" onkeyup="validacion('identificacion');" name="identificacion" value="{{ instance.identificacion }}">
								<span class="help-block"></span></td>
								<td><select class="form-control razaSel raza" name="raza" onchange="validacion('raza');"></select></td>
								<td><a id="botonIngresarMasOpciones" class="btn btn-default ModalMasOp" data-toggle="modal" data-target="#ModalMasOp" class="btn btn-default">Mas Opciones</a></td>
								<td><button class="btn btn-danger btn-eliminar-indi">Eliminar</button></td>
							</tr>
							
						</tbody>
					</table>
				
				</div>	<!-- fin panel body -->

				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-12" align="right">
							<!-- <a href="../../home_user" > -->
							<!-- <button id="listados"> Guardar todo </button> -->

							<button class="btn btn-default btnvalidar" id="btnvalidar">Continuar</button>
							</a>
						</div>
					</div>
				</div> <!--fin panel footer-->
			</div>
		 </form> 
		</div>
	</div>
</div>


{% endblock %}

{% block javascript %} 
<script type="text/javascript">
$(document).ready(function() {

	var num = 0;
	var count=1;
	$("body").on('click', "#agregar_individuo", function(){
		var newInd = $('#hidden-row-ind').clone()
			.removeAttr('id')
			.removeAttr('style')
			.addClass('lIndividuo')
			.show();
			num = num +1;
			count="<p class='contador'>"+(num+1)+"</p>"
			var modIdent = "ModalMasOp" + num;
			var modDataTarget = "#ModalMasOp" + num;
			var modBase = $('.modalBaseMO').clone().attr('id', modIdent).removeClass('modalBaseMO');
			newInd.find("#botonIngresarMasOpciones").attr('data-target', modDataTarget);
			$(this).parent().parent().parent().parent().append(newInd);
			$(this).parent().parent().parent().parent().append(modBase);
			
			//////////////////////validacion/////////////////////
			var array = [];
			$('thead').find('.numeracion').each(function(index,e) {
				var c = e;
				array.push(c);				
			});
			console.log('array',array);
			for (var i = 0; i < array.length; i++) {
				$(array[i]).find('.contador').text(i+1);
			}
			//////////////////////validacion/////////////////////

		return false;
	});

	$("body").on('click', ".btn-eliminar-indi", function(){
	    $(this).parent().parent().remove(); // elimina linea de diagnostico 
		//////////////////////validacion/////////////////////
		var arraye = [];
		$('thead').find('.numeracion').each(function(index,elem) {
			var cc = elem;
			arraye.push(cc);				
		});
		console.log('array eliminar',arraye);
		for (var i = 0; i < arraye.length; i++) {
			$(arraye[i]).find('.contador').text(i+1);
		}	    
		//////////////////////validacion/////////////////////
	  });

        $.ajax({
            url:"/j_raza/",
            type:"GET",
            dataType: "json",
            success: function(raza){
            	$('.razaSel').append('<option selected value=""></option>');
                $.each(raza,function(index, obj) 
                {   
                	if(obj.activo == true){
	                    if(obj.id == solAn.especie)
	                    {
	                    $('.razaSel').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
	                    }
                	}
                });
            }
        }); // fin selectraza
        $.ajax({
            url:"/j_categoriae/",
            type:"GET",
            dataType: "json",
            success: function(categoriae){
                $('.categoriaeSel').append('<option selected value=""></option>');
                $.each(categoriae,function(index, obj) 
                {   
                	if(obj.activo == true){
	                    if(obj.especie_id == solAn.especie)
	                    {
	                    $('.categoriaeSel').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
	                    }
	                    
	                }    
                });
            }
        }); // finaliza el select

        

	$("body").on('click', "#rmvBlockIndiv", function(){
		$(this).parent().parent().remove();
	});
	
	/*validacion*/
	$("span.help-block").hide();

}); //ready 


	/*validacion*/
	function verificar(){
		var v1=0,v2=0;

		v1=validacion('identificacion');
		v2=validacion('raza');
		console.log(v1,v2);
		if(v1 == true && v2 == true){
			return true;
		}
		else{
			return false;
		}
	}//verificar

	$("#btnvalidar").click(function(e){
		if(verificar() == true){
			e.preventDefault();
			if($('#tabla').find('.lIndividuo').length ==0){
				e.preventDefault();
				alert('No cargo individuos');
			}
			else
			{
				///$("#formvalidar").submit();
				e.preventDefault();
			
				let identlist = [];
				let razalist = [];
				$(".lIndividuo").each(function(){
						var identificacion = $(this).find('#identificacion').val();
						var raza = $(this).find('.razaSel').val();
						// var masOp = $(this).find("#botonIngresarMasOpciones").attr('data-target');
						// var nombre = $(masOp).find('#nombre').val();
						// var edad = $(masOp).find('#edad').val();
						// console.log(edad);
						// var libreta = $(masOp).find('#libreta').val();
						// var categoriaeSel = $(masOp).find('.categoriaeSel').val();
						// var sexo = $(masOp).find('#sexo:checked').val();
						identlist.push(identificacion);
						razalist.push(raza);

				});// end each .lIndividuo
			
				identlist = JSON.stringify( identlist );
				razalist = JSON.stringify( razalist );
				

				prot = localStorage.getItem( "prot" );
				diag = localStorage.getItem( "diag" );
				solAn = JSON.parse( localStorage.getItem( "SolAn" ) );
				
				$.ajax({
					type: 'POST',
					url: '/listados/',
					data:{
						veterinario : solAn.veterinario,
						establecimiento : solAn.establecimiento,
						motivo : solAn.motivo,
						especie : solAn.especie,
						fecha : solAn.fecha,
						obs : solAn.obs,
						prot: prot,
						diag: diag,
						identlist: identlist,
						razalist: razalist,
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
					},
					statusCode: {
						404: function () {
						},
						500: function(){
							alert('ERROR')
						},
						200: function () {
							alert('Se ha cargado correctamente.')
							$(location).attr('href',"../../home_user");
						}
					}
				}); // finalizacion del ajax
			//$(location).attr('href',"../../home_user");
			}//if length lIndividuo
		}
		else
		{
			e.preventDefault();
			alert('Validacion');///este se puede borrar
		}
	});// boton validar

	//funcion retorna array de consulta bd 
	function getconbd(url, method)
	{
	    return JSON.parse($.ajax({
	        type: method,
	        url: url,
	        dataType: 'json',
	        async:false,
	        success: function(data)
	        {
	            return data;
	        }
	    }).responseText);
	}//consulta bd


	//$('#listados').click(function(e){
		/*e.preventDefault();
		
		let identlist = [];
		let razalist = [];
		$(".lIndividuo").each(function(){
				var identificacion = $(this).find('#identificacion').val();
				var raza = $(this).find('.razaSel').val();
				// var masOp = $(this).find("#botonIngresarMasOpciones").attr('data-target');
				// var nombre = $(masOp).find('#nombre').val();
				// var edad = $(masOp).find('#edad').val();
				// console.log(edad);
				// var libreta = $(masOp).find('#libreta').val();
				// var categoriaeSel = $(masOp).find('.categoriaeSel').val();
				// var sexo = $(masOp).find('#sexo:checked').val();
				identlist.push(identificacion);
				razalist.push(raza);

		});// end each .lIndividuo
	
		identlist = JSON.stringify( identlist );
		razalist = JSON.stringify( razalist );
		

		prot = localStorage.getItem( "prot" );
		diag = localStorage.getItem( "diag" );
		solAn = JSON.parse( localStorage.getItem( "SolAn" ) );
		
		$.ajax({
			type: 'POST',
			url: '/listados/',
			data:{
				veterinario : solAn.veterinario,
				establecimiento : solAn.establecimiento,
				motivo : solAn.motivo,
				especie : solAn.especie,
				fecha : solAn.fecha,
				obs : solAn.obs,
				prot: prot,
				diag: diag,
				identlist: identlist,
				razalist: razalist,
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
			},
			statusCode: {
				404: function () {
				},
				500: function(){
					alert('ERROR')
				},
				200: function () {
					alert('LLEGO')
				}
			}
		}); // finalizacion del ajax*/
	//}); //finalizacion de la funcion

	
	saveAll();
	function saveAll(){
		solAn = JSON.parse( localStorage.getItem( "SolAn" ) );
		prot = JSON.parse( localStorage.getItem( "prot" ) );
		diag = JSON.parse( localStorage.getItem( "diag" ) );
    	
    } // saveAll
	controlGPS();

  	function controlGPS(){
      if( localStorage.getItem( "posicion" ) ){
        if( localStorage.getItem( "posicion" ) == 2 )
        {
        	localStorage.setItem( "posicion", 0);
        }
        else
        {
          $(location).attr('href',"http://127.0.0.1:8000/home_user/");  
        }
      }
      else{
        $(location).attr('href',"http://127.0.0.1:8000/home_user/");      
      }
    }


function validacion(campo){
	if(campo==='identificacion'){
	var truefalse=true;
	var error=0;
	var array = [];
	$('thead').find('.'+campo).each(function(i, e){
		var c = e;
		array.push(c);
	});
	console.log('array',array);

	var igual =false;

		for (var i = 0; i < array.length; i++) {
			for (var j = 0; j < array.length; j++) {
				if($(array[j]).val() == null || $(array[j]).val().length == 0 || /^\s+$/.test($(array[j]).val())){
					$(array[j]).parent().attr("class","has-error has-feedback");
					error++;
				}
				else{
					if(i!=j){	
						if($(array[i]).val()==$(array[j]).val()){
							error++;
							console.log(i,'arrayi',$(array[i]).val(),j,'arrayj',$(array[j]).val());
							$(array[i]).parent().attr("class","has-error has-feedback");
							$(array[i]).parent().children("span").text("Dato duplicado ").show();
							$(array[j]).parent().attr("class","has-error has-feedback");
							$(array[j]).parent().children("span").text("Dato duplicado ").show();
							console.log('son iguales');
							break;
						}
						else{
							igual=false;
							console.log(i,'arrayi',$(array[i]).val(),j,'arrayj',$(array[j]).val());
							$(array[j]).parent().attr("class","has-success has-feedback");
							$(array[j]).parent().children("span").text("").hide();
							console.log('no son iguales');
						}
					
					}
					else{
						$(array[i]).parent().attr("class","has-success has-feedback");
						$(array[i]).parent().children("span").text("").hide();
					}
				}
			}
		}
		
		if(error > 0){
			return false;
		}
		else{
			return true;
		}
	}//identificacion

	if(campo==='raza'){
		var truefalse=true;
		var error=-1;
		$('.'+campo).each(function(i, elem){
		var indice = $(elem).val();
		console.log('indice  ',indice);
		if(indice == null || indice == 0 ){
			$(elem).parent().attr("class","has-error has-feedback");
			error++;
			console.log('indice2  ',indice);
			}
		else{
			$(elem).parent().attr("class","has-success has-feedback");
			console.log('indice3  ',indice);
			}	
		});
		
		if(error > 0){
			return false;
		}
		else{
			return true;
		}		
	}//raza			
}//validacion


</script>
{% endblock %}