{% extends 'base.html' %}
{% block content %}


<h1> {{ title }} </h1>

<form method="POST" action="">{% csrf_token %}
	<div class="controls">
		<div class="row">
            <div class="col-md-4">
                <div class="form-group">
			    	<label for="partido">Partido:</label>
			    	<input type="text" class="form-control" id="partido" name="partido" value="{{ instance.partido }}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
			    	<label for="propietario">Propietario:</label>
			    	<input type="text" class="form-control" id="propietario" name="propietario" value="{{ instance.propietario }}">
			    </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
			    	<label for="RENSPA">RENSPA:</label>
			    	<input type="text" class="form-control" id="RENSPA" name="RENSPA" value="{{ instance.RENSPA }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
			    	<label for="CUIT">CUIT:</label>
			    	<input type="text" class="form-control" id="CUIT" name="CUIT" value="{{ instance.CUIT }}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                	<!-- select -->
                    <label for="veterinario">Veterinario:</label>
                    <select class="form-control" name="veterinario" id="veterinario">
                        
                    </select>
			    </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
			    	<label class="form-check-label" for="categorias">Categorias:</label>
			    	<div form-check id="categorias"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            	<!-- checkbox que no funciona:  -->
                <div class="form-group">
			    	<label class="form-check-label" for="explotacion">Explotacion:</label>
			    	<div  form-check id="explotacion"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-check disabled">
			    	<label class="form-check-label" for="activo">
    				<input type="checkbox" class="form-check-input" id="activo" name="activo" value="{{ instance.activo }}" checked disabled> Activo</label>
                </div>
            </div>
        </div>

        <div class="row">
			<div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="Enviar">
            </div>
        </div>
    </div>
</form>

{% endblock %}
{% block javascript %} 
<script type="text/javascript">


$(document).ready(function() {
        var selectveterinario = "{{instance.veterinario.id }}"

        var catelist = []
            "{% for x in instance.categorias.all %}"
        catelist.push("{{x.id}}")
            "{% endfor %}"

        var explolist = []    
            "{% for x in instance.explotacion.all %}"
        explolist.push("{{x.id}}")
            "{% endfor %}"
        $.ajax({
            url:"/j_veterinario/",
            type:"GET",
            dataType: "json",
            success: function(veterinario){
                $.each(veterinario,function(index, obj) 
                {   
                    console.log(veterinario)
                    if(obj.id == selectveterinario)
                    {
                    $('#veterinario').append('<option selected value=' + obj.id + '>' + obj.apellido +','+ obj.nombre + '</option>');
                    }
                    else{
                    $('#veterinario').append('<option value=' + obj.id + '>' + obj.apellido +','+ obj.nombre + '</option>');
                    }
                });
            }
        }); // finaliza el primer select 
        $.ajax({
            url:"/j_categoria/",
            type:"GET",
            dataType: "json",
            success: function(categoria){
                console.log("categoria: " + catelist)
                $.each(categoria,function(index, obj) 
                {   
                    $('#categorias').append('<br><input type="checkbox" name="categorias" value="'+ obj.id+'"> '+obj.descripcion);
                });

                $("#categorias > input").each(function(){
                    for (var i = catelist.length - 1; i >= 0; i--) {
                    
                    if($(this).attr("value") == catelist[i])
                    {
                         this.setAttribute("checked", "checked")
                    } //if
                    } //for

                }); // Categorias Checked

            }
        }); // primer checkbox
        $.ajax({
            url:"/j_explotacion/",
            type:"GET",
            dataType: "json",
            success: function(explotacion){
                console.log("explotacion:" + explolist)
                $.each(explotacion,function(index, obj) 
                {      
                    $('#explotacion').append('<br><input type="checkbox" name="explotacion" value="'+ obj.id+'"> '+obj.descripcion);
                });

                $("#explotacion > input").each(function(){
                    for (var i = explolist.length - 1; i >= 0; i--) {
                    
                        if($(this).attr("value") == explolist[i])
                        {
                             this.setAttribute("checked", "checked")
                        } //if
                    } //for
                }); // Explotacion Checked
            }
        }); // segundo checkbox


    });  
</script>
{% endblock %}