{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" method="POST" action="">{% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ instance.nombre }}">
                        </div>
                        <label class="control-label col-sm-2" for="apellido">Apellido:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="apellido" name="apellido" value="{{ instance.apellido }}">
                        </div>    
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="matricula">Matricula:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="matricula" name="matricula" value="{{ instance.matricula }}">
                        </div>
                        <label class="control-label col-sm-2" for="dni">DNI:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="dni" name="dni" value="{{ instance.dni }}">
                        </div>    
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="especializacion">Especializacion:</label>
                        <div class="col-sm-4">
                            <label class="checkbox-inline  form-check-label" for="especializacion">
                                <div form-check id="especializacion"></div>
                            </label>
                        </div>
                    </div>
               
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Datos de contacto</h4>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="dom_part">Domicilio Particular:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="dom_part" name="dom_part" value="{{ instance.domicilio_particular }}">
                        </div>
                        <label class="control-label col-sm-2" for="cp_part">Codigo Postal:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="cp_part" name="cp_part" value="{{ instance.cp_domicilio_particular }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@</span>
                                <input type="text" id="email" name="email" class="form-control" value="{{ instance.email }}" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <label class="control-label col-sm-2" for="cod_ar">Codigo de Area:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="cod_ar" name="cod_ar" value="{{ instance.codigo_area }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="tel1">Telefono 1:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="tel1" name="tel1" value="{{ instance.telefono1 }}">
                        </div>
                        <label class="control-label col-sm-2" for="tel2">Telefono 2:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="tel2" name="tel2" value="{{ instance.telefono2 }}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Datos Fiscales</h4>
                        </div>
                    </div>
           
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="dom_fiscal">Domicilio Fiscal:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="dom_fiscal" name="dom_fiscal" value="{{ instance.domicilio_fiscal }}">
                        </div>
                        <label class="control-label col-sm-2" for="cp_fiscal">Codigo Postal:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="cp_fiscal" name="cp_fiscal" value="{{ instance.cp_domicilio_fiscal }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="cuit">CUIT:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="cuit" name="cuit" value="{{ instance.cuit }}">
                        </div>
                    </div>
            
                         <!-- INICIO PANEL ACORDEON -->

                    <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Otros Datos Complementarios</a>
                          </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                          <div class="panel-body">

                           <!-- INICIO PANEL BODY -->
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="f_alta">Fecha de Alta:</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" id="f_alta" name="f_alta" value="{{ instance.fecha_ingreso }}" placeholder="AAAA-MM-DD">
                                </div>
                                <label class="control-label col-sm-2"for="f_baja">Fecha de Baja:</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" id="f_baja" name="f_baja" value="{{ instance.fecha_baja }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="ac_br">Acreditacion Brucelosis:</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" id="ac_br" name="ac_br" value="{{ instance.acreditacion_brucelosis }}" placeholder="MONMJHB0303456">
                                </div>
                                <label class="control-label col-sm-2" for="ac_aie">Acreditacion AIE:</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" id="ac_aie" name="ac_aie" value="{{ instance.acreditacion_aie }}" placeholder="0303456">
                                </div>
                            </div>
                            <!-- FIN PANEL BODY -->

                          </div>
                        </div>
                      </div>
                    </div>
      
                    <!-- FIN PANEL ACORDEON -->       

                     <div class="form-group">
                        <label class="control-label col-sm-2" for="activo">Estado:</label>
                        <div class="col-sm-10">
                            <div class="checkbox form-check disabled">
                                <label class="form-check-label" for="activo">
                                    <input type="checkbox" class="form-check-input" id="activo" name="activo" value="{{ instance.activo }}" checked disabled> Activo
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}

{% block javascript %} 
<script type="text/javascript">
$(document).ready(function() {
        var espelist = []
            "{% for x in instance.especializacion.all %}"
        espelist.push("{{x.id}}")
            "{% endfor %}"
            
        $.ajax({
            url:"/j_especializacion/",
            type:"GET",
            dataType: "json",
            success: function(especializacion){
                $.each(especializacion,function(index, obj) 
                {  

                    $('#especializacion').append('<input type="checkbox" name="especializacion" value="'+ obj.id+'"> '+obj.descripcion+'<br>');
                });

                $("#especializacion > input").each(function(){
                    for (var i = espelist.length - 1; i >= 0; i--) {
                    
                    console.log($(this).attr("value"))
                    if($(this).attr("value") == espelist[i])
                    {
                         this.setAttribute("checked", "checked")
                    } //if
                    } //for

                }); // Explotacion Checked
            }
        }); 

    });  
</script>
{% endblock %}