{% extends 'base.html' %}
{% block content %}

{%  include 'includes/modalVistaPrevia.html' %}
{%  include 'includes/modalvisualizacion.html' %}
{%  include 'includes/modalTipoDato.html' %}
{%  include 'includes/modalValRef.html' %} 
{%  include 'includes/modalCopy.html' %} <!-- Copia del modal base de ValRef-->
{%  include 'includes/grupoCopy.html' %} <!-- Copia del grupo de parametros completo -->



<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
		<form id="formAjax">{% csrf_token %} 
            <div class="panel-body">

                <div class="form-horizontal">
                    <div class="form-group">
				    	<div class="divalidacion">	
				    		<label class="control-label col-sm-2" for="descripciondiag">Descripcion:</label>
				    		<div class="col-sm-4">
				    			<input type="text" class="form-control" id="descripciondiag" onkeyup="validacion('descripciondiag');" name="descripcion" value="{{ instance.descripcion }}">
	    						<span class="help-block"></span>
				    		</div>
				    	</div>
				    	<div class="divalidacion">	
				    		<label class="control-label col-sm-2" for="tecnica">Tecnica:</label>
				    		<div class="col-sm-4">
				    			<input type="text" class="form-control" id="tecnica" onkeyup="validacion('tecnica');" name="tecnica" value="{{ instance.tecnica }}">
				    			<span class="help-block"></span>
				    		</div>
				    	</div>	
				    </div>

                	<div class="form-group">
				    	<div class="divalidacion"> 	
				    		<label class="control-label col-sm-2" for="muestra">Muestra:</label>
				    		<div class="col-sm-4">
				    			<select class="form-control" name="muestra" id="muestra" onchange="validacion('muestra');"></select>
				    		</div>
				    	</div>
                	
                		<label class="control-label col-sm-2" for="tercerizacion">Tercerizacion:</label>
						<div class="col-sm-4">
							<div class="checkbox form-check disabled">
								<label class="form-check-label" for="tercerizacion">
    								<input type="checkbox" class="form-check-input" id="tercerizacion" name="tercerizacion" value="{{ instance.tercerizacion }}" > 
								</label>
							</div>
						</div>
                	</div>
            	
<!-- DIV PARAMETROS -->
<div class="hideterce">
					<div id="block-parametros">
						<div class="panel panel-default blockGrupo">
							<div class="panel-heading">
								<div class="form-group">
									<label class="control-label col-sm-3" for="grupo">Grupo de Parametros</label>
									<div class="col-sm-9">
										<div class="divalidacion">
										<input type="text" class="form-control grupo" id="grupo" onkeyup="validacion('grupo');" name="grupo" value="{{ instance.grupo }}">
										<span class="help-block"></span>
										</div>
									</div>

									<label class="control-label col-sm-3" for="radio"> Visualización del Grupo <a href="#" data-toggle="modal" data-target="#modalVisualizacion"><span class="glyphicon glyphicon-question-sign"></span></a></label>
									<div class="col-sm-9">
									<div class="divalidacion">
										<label class="control-label col-sm-4" for="radio">Tablas <small>(Para caravanas)</small></label>
										<div class="col-sm-1">	
											<input type="radio" class="form-control vistagrupo" id="radioTabla" onclick="validacion('vistagrupo')" name="radio0" value="{{ instance.radio }}">
										</div>
										<label class="control-label col-sm-4" for="radio">Ítems <small>(Para datos unicos)</small></label>
										<div class="col-sm-1">
											<input type="radio" class="form-control vistagrupo" id="radioItem" onclick="validacion('vistagrupo')" name="radio0" value="{{ instance.radio }}">
										</div>
									</div>
									</div>
								</div>
							</div>
							
							<div class="panel-body"  style="overflow-x:scroll">
								<table class="table table-striped table-hover table-condensed table-responsive" align="center" id="tabla">
									<thead class="thead-default">
										<tr>
											<th class="col-sm-5"><label for="descripcion">Descripcion</label></th>
											<th class="col-sm-3"><label for="tipo_de_dato">Tipo de Dato <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a></label></th>
											<th class="col-sm-1"><label>Valor Pred./Ref.</label></th>
											<th class="col-sm-2"><label for="unidadmedida">Unidad de Medida</label></th>
											<th class="col-sm-1"><button id="agregar_parametros"  class="btn btn-default btn-sm">Agregar<br>Parametro <span class="glyphicon glyphicon-plus"></span></button></th>		
										</tr>
									</thead>
									<tbody class="paraList">		
										<tr id="hidden-row" style="display: none">
											<td><input type="text" class="form-control" id="descripcion" onkeyup="validacion('descripciongrupo');" name="descripcion" value="{{ instance.descripcion }}"></td>
											<td>
												<select id="select" class="selectpicker tipoDatoSelect">
													<option value="I">Número Entero</option>
													<option value="F">Número con decimales</option>
													<option value="B">Positivo/Negativo</option>
													<option value="S">Texto</option>
												</select>
											</td>
											<td><a id="botonIngresarValorRef" class="btn btn-default ModalPara" data-toggle="modal" data-target="#ModalValorRef" class="btn btn-default">Ingresar</a></td>
											<td><input type="text" class="form-control" id="unidadmedida0" name="unidadmedida" value="{{ instance.unidadmedida }}"></td>
											<td><div class="btn btn-danger">Eliminar</div></td>
										</tr>
										<!-- <tr class="paraList">
											<td><input type="text" class="form-control descripciongrupo" id="descripcion" onkeyup="validacion('descripciongrupo');" name="descripcion" value="{{ instance.descripcion }}"></td>
											<td>
												<select id="select" class="selectpicker tipoDatoSelect">
													<option value="I">Número Entero</option>
													<option value="F">Número con decimales</option>
													<option value="B">Positivo/Negativo</option>
													<option value="S">Texto</option>
												</select>
											</td>
											<td><a id="botonIngresarValorRef" class="btn btn-default ModalPara" data-toggle="modal" data-target="#ModalValorRef0" class="btn btn-default">Ingresar</a> --><!-- <p style="display:none" id="pBtnIVR">Deshabilitado para ese tipo de dato</p> --><!-- </td>
											<td><input type="text" class="form-control" id="unidadmedida" name="unidadmedida" value="{{ instance.unidadmedida }}"></td>
											<td><div class="btn btn-danger">Eliminar</div></td>
										</tr> -->
									</tbody>
								</table>
							</div> <!-- fin div panel-body -->

							<div class="panel-footer">
								<div align="right">
									<div  class="btn btn-sm" id="rmvBlockPara" >
										Eliminar Grupo <span class="glyphicon glyphicon-remove"></span>
									</div>
								</div> 
							</div> <!-- fin div panel footer -->
						</div> <!-- fin div panel -->
					</div><!-- fin block-parametros -->
					
						
					<div class="form-group">
			    		<div class="col-sm-12" align="right">
							<button id="addBlockParametros" class="btn btn-default btn-sm">Agregar Grupo de Parametros <span class="glyphicon glyphicon-plus"></span></button>
						</div>
					</div>
</div> <!-- fin div hideterce -->
<!-- FIN DIV PARAMETROS -->

	                <div class="form-group">
				    	<label class="control-label col-sm-3" for="piepagina">Texto para incluir en pie de pagina:</label>
			    		<div class="col-sm-9">
					    	<textarea row="3" class="form-control" id="piepagina" name="piepagina" value="{{ instance.piepagina }}"> </textarea>
			    		</div>
				    </div>
	            
					<div class="form-group">
						<label class="control-label col-sm-2" for="activo">Estado:</label>
						<div class="col-sm-10">
							<div class="checkbox form-check disabled">
								<label class="form-check-label" for="activo">
									<input type="checkbox" class="form-check-input" id="activo" name="activo" value="{{ instance.activo }}" checked disabled> Activo
								</label>
							</div>
						</div>
					</div>

					</div>				<!-- fin div form-horizontal -->
    		</div> <!--fin panel body-->

			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-6" align="left">
			    			<a href="{% url 'bsadmin:home_admin' %}"><span class="glyphicon glyphicon-chevron-left"></span>  Volver</a>
						<a id="vistaPrevia" class="btn btn-default" role="button" href="#" data-toggle="modal" data-target="#modalVistaPrevia">Vista Previa</a>

					</div>
					<div class="col-sm-6" align="right">

						<!-- <button id="pruebaeach">TEST</button> -->
						<!-- <input type="submit" value="Guardar"> -->
						<button type="button" class="btn btn-default" id="btnvalidar">Validar</button>

					</div>
				</div>
			</div> <!--fin panel footer-->
		 </form> 
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	
	var num = 0;
	$("body").on('click', "#agregar_parametros", function(){
		var newRow = $('#hidden-row').clone()
						.removeAttr('id')
						.removeAttr('style')
                        .addClass('paraList')
						.show();
		// Clona, remueve id (para evitar duplicados) y stylem y muestra.
        
        num = num+1; // incremento del numero final de los datos del id y data-target
        var modId = "ModalValorRef" + num; // Nuevo Id del Modal
        var modData = "#ModalValorRef" + num; // Nuevo Data-Target value del row recien creado
		var modPos = $('.modalBase').clone().attr('id', modId).removeClass('modalBase'); 
		// Crea el modal para el row recien creado.		
        
        newRow.find("#botonIngresarValorRef").attr('data-target', modData);
    	// Reemplaza la el id que se usa para llamar al model 
    	$(this).parent().parent().parent().parent().append(newRow);
    	// posiciona el row en el grupo de parametros en el que fue pedido.
    	$(this).parent().parent().parent().parent().append(modPos);
    	// posiciona el model en el grupo de parametros en el que fue pedido.
   
    return false;
	});
	
	$("#block-parametros").on('click', ".ModalPara", function(){
		var posRow = $(this).parent().parent(); // Posiciona la linea entera para usarla.
		var modModel = posRow.find("#descripcion").val(); // busca el valor de descripcion-
		var paraModel = posRow.find("#botonIngresarValorRef").attr('data-target'); // busca el id del modal
		
		$(paraModel).find('#parametro').attr('value', modModel); // remplaza parametros con el valor de descripcion-
	});
	$("#block-parametros").on('click', ".btn-danger", function(){
		var delPos = $(this).parent().parent(); // La linea a eliminar
		var delModel = delPos.find("#botonIngresarValorRef").attr('data-target'); // busca el id del modal
		
		$(delModel).remove(); // Delete Modal
		delPos.remove();
		//$(this).parent().parent().remove();  
		// Elimina el model y la linea.
	});
	$("body").on('click', ".btn-eliminar-vr", function(){
		$(this).parent().parent().parent().parent().find("#addParametroVr").attr('disabled', false);//habilita addparametro	
		$(this).parent().parent().remove(); // Delete Row de valores referencia
	});

	var incRadio = 0;

    $("#addBlockParametros").click(function(){
        
        var newTable = $('#grupoParametros').clone()
                        .removeAttr('id')
                        .removeAttr('style')
                        .addClass('blockGrupo')
                        .show()
                        .appendTo('#block-parametros')
        // copia y pega el bloque.
        incRadio = incRadio + 1; 
		var radioUp = "radio" + incRadio; 
        newTable.find("input:radio").attr('name', radioUp);

        return false;
    });
	

    $("body").on('click', "#rmvBlockPara", function(){
    	if(window.confirm("¿Esta seguro que desea eliminar?"))
    	{
    	$(this).parent().parent().remove();
    	}
	});
	
    $("body").on('click', "#addParametroVr", function(){
		
		var newRow = $('#hidden-row-vr').clone()
						.removeAttr('id')
						.removeAttr('style')
                        .addClass('valRefList')
						.show();
		$(this).parent().parent().parent().parent().find('tbody').append(newRow);
		//genera la nueva linea para los valores por referencia.
	});
	
    $(document).on('change', '#tercerizacion', function() {
	    if(this.checked) {
	      // checkbox is checked
	      $('.hideterce').hide();
	      
	 	}
	 	else{
	 	  $('.hideterce').show();  
	 	}
	});
    var selectmuestra = "{{instance.muestra.id}}"
        $.ajax({
            url:"/j_muestra/",
            type:"GET",
            dataType: "json",
            success: function(muestra){
                $('#muestra').append('<option selected value=""></option>');
                $.each(muestra,function(index, obj) 
                {   
                	if(obj.activo == true){
	                    if(obj.id == selectmuestra)
	                    {
	                    $('#muestra').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
	                    }
	                    else{
	                    $('#muestra').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
	                    }
	                }    
                });
            }
        }); // finaliza el select 
    
    $.ajax({
    	url: "/j_especie/",
    	type: "GET",
    	dataType: "json",
    	success: function(especie){
    		//$('.especieSel').append('<option selected value=""></option>');
    		$.each(especie, function(index, obj){
    			if(obj.activo == true){
    			$('.especieSel').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
    			}
    		});
    	}
    }); // select de especie 

    //valida select option - ValREf
    $(document).on('click','.addParametro',function(){
    	console.log('paso x aca');
    	var count = 0;
    	var array = [];
    	var idmodalref = $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().parent();
    	conbd = getconbd("/j_especie/", "GET");//consulta json a tabla especificada
    	$(this).parent().parent().parent().parent().find('.valRefList').each(function(i, elem) {
    		var c = elem;
    		array.push(c);
    		count++;
    		console.log('count   ',count,'elem  ',elem,'conbd  ',conbd.length);
    		if(count >= conbd.length){idmodalref.find("#addParametroVr").attr('disabled', true);}
    		else{idmodalref.find("#addParametroVr").attr('disabled', false);}
    	});
    	console.log('idmodalref   ',idmodalref,'array ',array);
    	
    	if(array.length > 1){
    		var buscarval = $(array[0]).find('option').val();
    		idmodalref.find(".valRefList").each(function(index, e) {
	    		for (var i = 0; i < conbd.length; i++) {
	    			for (var j = i+1; j < conbd.length; j++) {
    					$(array[j]).find('.especieSel').find('option[value="'+$(array[i]).find('.especieSel').val()+'"]').remove();
    					$(array[i]).find('.especieSel').find('option[value="'+$(array[j]).find('.especieSel').val()+'"]').remove();
	    				console.log('arrayi  ',$(array[i]),'arrayj ',$(array[j]),'array',$(array));	    
	    			}
	    		}	
    		});
    	}    	
    });    

    $(document).on('change','.especieSel',function(){
    	console.log('paso x aca');
    	var count = 0;
    	var array = [];
    	var idmodalref = $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().parent();
    	conbd = getconbd("/j_especie/", "GET");//consulta json a tabla especificada
    	$(this).parent().parent().parent().parent().find('.valRefList').each(function(i, elem) {
    		var c = elem;
    		array.push(c);
    	});
    	console.log('idmodalref   ',idmodalref,'array ',array);
    	
    	if(array.length > 1){
    		var buscarval = $(array[0]).find('option').val();
    		idmodalref.find(".valRefList").each(function(index, e) {
	    		for (var i = 0; i < conbd.length; i++) {
	    			for (var j = i+1; j < conbd.length; j++) {
    					$(array[j]).find('.especieSel').find('option[value="'+$(array[i]).find('.especieSel').val()+'"]').remove();
    					$(array[i]).find('.especieSel').find('option[value="'+$(array[j]).find('.especieSel').val()+'"]').remove();
	    				console.log('arrayi  ',$(array[i]),'arrayj ',$(array[j]),'array',$(array));	    
	    			}
	    		}	
    		});
    	}
    });
    //fin validacion select option - ValRef


/*validacion*/
$("span.help-block").hide();
});//ready  


/*validacion*/
function verificar(){
    var v1=0,v2=0,v3=0;v4=0;v5=0;v6=0;

    v1=validacion('descripciondiag');
    v2=validacion('tecnica');
    v3=validacion('muestra');
    v4=validacion('grupo');
    v5=validacion('descripciongrupo');
    v6=validacion('vistagrupo');

    console.log(v1,v2,v3,v4,v5,v6);
  
  for (var i = 0; i < prueba.length.length; i++) {
    	prueba.length[i]
    }  if(v1 == true && v2 == true && v3 == true && v4 == true && v5 == true && v6 == true){
        return true;
    }
    else{
        return false;
    }
}//verificar

$("#btnvalidar").click(function(){
    if(verificar() == true){
        /*$("#formvalidar").submit();*/

		$.ajax({
    		type: 'POST',
    		url: '/diagnosticoAjax/',
    		data:{
    			descripcion: $('#descripciondiag').val(), 

    			tecnica: $('#tecnica').val(),
    			muestra: $('#muestra').val(),
    			tercerizacion: $('#tercerizacion').is(":checked"),
    			piepagina: $('#piepagina').val(),
    			csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
    		},
    		success: function(data){
    			
    			var diagPos = data;	
				$(".blockGrupo").each(function(){
					
					var grupo = $(this).find("#grupo").val();
					if($(this).find("#radioTabla").is(":checked")){
						var tabletype = "T";	
					}
					if($(this).find("#radioItem").is(":checked")){
						var tabletype = "I";	
					}
					// aca termina el primer each, donde guardamos el nombre del grupo, y el tipo de tabla
					

					var tBody = $(this).find('.paraList');
					// recorrer los td individualmente sin repetirse						
						
						$(tBody).find('tr:visible').each(function(){
						// segundo each, recorre linea por linea del grupo

							var descripcionPara = $(this).find('#descripcion').val();
							var tipoDato = $(this).find(":selected").val();
							var unidadmedida = $(this).find('#unidadmedida').val();
							var valRef = $(this).find("#botonIngresarValorRef").attr('data-target');
						
						$.ajax({
				    		type: 'POST',
				    		url: '/parametrosAjax/',
				    		data:{
				    			diagnostico: diagPos, 
				    			descripcion: descripcionPara, 
				    			tipo_de_dato: tipoDato, 
				    			unidadmedida: unidadmedida,
				    			visualizacion1: tabletype,  
				    			grupo: grupo,
				    			csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				    		},
				    		success: function(dataPara){
				    			paraPos = dataPara;

				    			var valRefModal = $(valRef);

				    			$(valRefModal).find('.valRefList').each(function(){
				    				"especie",
									"parametros",
									"valorRef",
									"valorDef"
				    				var especie = $(this).find(':selected').val();
				    				var parametros = paraPos;
				    				var valorRef = $(this).find('#valRef').val();
				    				var valorDef = $(this).find('#valDef').val();

				    				$.ajax({
				    					type: 'POST',
				    					url: '/valRefAjax/',
				    					data:{
				    						especie: especie,
				    						parametros: parametros,
				    						valorRef: valorRef,
				    						valorDef: valorDef,
				    						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				    					},
				    					succes: function(){
				    						console.log('Guardado');
				    					}//succes
				    				}); // ajaxValRef							
								});// recorrer cada modal
				    		}// succes
				    	}); // ajaxdparametros
						}); // parametros 1x1
				}); // blockgroup
    		} // succes
    	}); // ajaxdiagnostico

        $(location).attr('href',"../../home_admin");
    }
});// boton validar

//funcion retorna array de consulta bd 
function getconbd(url, method)
{
    return JSON.parse($.ajax({
        type: method,
        url: url,
        dataType: 'json',
        async:false,
        success: function(data)
        {
            return data;
        }
    }).responseText);
}//consulta bd

function validacion(campo){
    if(campo==='descripciondiag' || campo==='tecnica'){
        inputtext = document.getElementById(campo).value;
        //console.log(inputtext);
        if(inputtext == null || inputtext.length == 0 || /^\s+$/.test(inputtext)){
            $('#icon'+campo).remove();
            $('#'+campo).parent().parent().attr("class","has-error has-feedback");
            $('#'+campo).parent().children("span").text("Debe ingresar algun dato ").show();
            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-remove form-control-feedback'></span>");
            return false;
        }
        else{
            $("#icon"+campo).remove();
            $('#'+campo).parent().parent().attr("class","has-success has-feedback");
            $('#'+campo).parent().children("span").text("").hide();
            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-ok form-control-feedback'></span>");
            return true;                
        }
    }//descripcion,tecnica

    if(campo==='muestra'){
        indice = document.getElementById(campo).selectedIndex;
        //console.log(indice);
        if(indice == null || indice == 0){
            $('#muestra').parent().parent().attr("class","has-error");
            return false;
        }
        else{
            $('#muestra').parent().parent().attr("class","has-success");
            return true;
        }
    }//muestra          

    if(campo==='grupo'){
		var truefalse=true;
		var error=-1;
		$('.'+campo).each(function(i, elem){
		//console.log('elem1  ',elem);	
		inputtext = $(elem).val();
        //console.log('inputtext  ',inputtext);
		if(inputtext == null || inputtext.length == 0 || /^\s+$/.test(inputtext)){
			$(elem).parent().attr("class","has-error has-feedback");
			$(elem).parent().children("span").text("Debe ingresar algun dato ").show();
			error++;
			//console.log('inputtext2  ',inputtext);
			}
		else{
			$(elem).parent().attr("class","has-success has-feedback");
			$(elem).parent().children("span").text("").hide();
			//console.log('inputtext3  ',inputtext);				
			}	
		});
		
		if(error > 0){
			return false;
		}
		else{
			return true;
		}
	}//grupo

	if(campo==='descripciongrupo'){
		var truefalse=true;
		var error=0;
		$('.'+campo).each(function(i, elem){
		//console.log('elem1  ',elem);	
		inputtext = $(elem).val();
        //console.log('inputtext  ',inputtext);
		if(inputtext == null || inputtext.length == 0 || /^\s+$/.test(inputtext)){
			$(elem).parent().attr("class","has-error has-feedback");
			error++;
			//console.log('inputtext2  ',inputtext);
			}
		else{
			$(elem).parent().attr("class","has-success has-feedback");
			//console.log('inputtext3  ',inputtext);				
			}	
		});
		
		if(error > 0){
			return false;
		}
		else{
			return true;
		}
	}//descripciongrupo

	if (campo==='vistagrupo'){
		var truefalse=true;
		var seleccionado=false;
		var error=-2;
		$('.'+campo).each(function(i, elem){
		//console.log('elem1  ',elem);
		var name =	$(elem).attr('name');
		//console.log('name   ',name);
		radiot = $("#formAjax input[name='"+name+"'][id='radioTabla']:radio").is(':checked');
        //console.log('radiot  ',radiot);
        radioi = $("#formAjax input[name='"+name+"'][id='radioItem']:radio").is(':checked');
        //console.log('radioi  ',radioi);

        if(radiot == false && radioi == false){
			$(elem).parent().parent().attr("class","has-error has-feedback");
			//console.log('false  ',radiot,'  ');
			error++;
			}
		else{
			$(elem).parent().parent().attr("class","has-success has-feedback");
			//console.log('true  ',radiot,'   ');				
			}
		});

		if(error > 0){
			return false;
		}
		else{
			return true;
		}
    }//vistagrupo

    if(campo==='especieSel'){
      var truefalse=true;
      var error=0;
      /*var prueba = $('.'+campo).val();
      //var prueba2 = $(this).val();
      console.log('paso x aca', prueba);*/
		//$(this).siblings().find('option[value="'+prueba+'"]').remove();		
      	
      	/*$(document).on('change','.especieSel',function(){
    		console.log('paso x aca');
    		var prueba = $(this).val();
    		$(this).siblings().find('option[value="'+prueba+'"]').remove();
    		var prueba2 = $(this).siblings();
    		console.log('prueba   ',prueba,'   prueba2    ',prueba2);
    	});*/

      //if(campo==='diagnostico'){error=-2}//solo para diagnostico
      //$('.valRefList').find('.especieSel').each(function(i, elem){
      /*$('.'+campo).next().each(function(i, elem){
      var indice = $(elem).val();
      console.log('elem   ',elem);
      console.log('indice  ',indice,'  i',i);
      
      if(indice == null || indice == 0 ){
        $(elem).parent().attr("class","has-error has-feedback");
        error++;
        console.log('indice2  ',indice);
        }
      else{
        $(elem).parent().attr("class","has-success has-feedback");
        console.log('indice3  ',indice);
        } 
      });
      
      if(error > 0){
        return false;
      }
      else{
        return true;
      }*/   
    }//especieSel

}//validacion 
</script> 

{% endblock %}