{% extends 'base.html' %}
{% block content %}

{% include 'includes/protocoloCopy.html' %}

{% include 'includes/diagnosticoCopy.html' %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
      </div>
      <form class="form-horizontal" method="POST" action="">{% csrf_token %}
        <div class="panel-body">

  <!-- panel de numero de protocolo -->
        <div id="block-protocolo">

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="form-group">
                <label class="control-label col-sm-3" for="protocolo">N° de Protocolo:</label>
                  <div class="col-sm-3">
                      <input type="number" class="form-control" id="protocolo" name="protocolo" value="{{ instance.protocolo }}">
                  </div>
              </div>
            </div><!-- fin panel heading2 -->
            
            <div class="panel-body">
              <div class="form-group">
                              <label class="control-label col-sm-2" for="muestra">Muestra:</label>
                    <div class="col-sm-4">
                      <select class="form-control" name="muestra" id="muestra"></select>
                    </div>
                    <div class="col-sm-6" align="right">
                      <button id="addBlockDiagnostico"  class="btn btn-default btn-sm">Agregar Diagnóstico  <span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
                
          <!-- panel de Diagnostico -->
                   
                            <div id="block-diagnostico">

                              <div class="form-group">
                                <label class="control-label col-sm-2" for="diagnostico">Diagnóstico:</label>
                                <div class="col-sm-4">
                                  <select class="form-control" name="diagnostico" id="diagnostico"></select>
                                </div>
                                <button id="eliminar_diagnostico"  class="btn btn-danger btn-sm">Eliminar <span class="glyphicon glyphicon-remove"></span></button>
                              </div>

                            </div>

         <!-- fin panel de Diagnostico -->               
              </div>

              <div class="panel-footer">
                <div id="rmvBlock" align="right">
                  <div  class="btn btn-sm" >
                    Eliminar Protocolo <span class="glyphicon glyphicon-remove"></span>
                  </div>
                </div> 
              </div> <!-- fin div panel footer -->

          </div> 
        </div>   
  <!-- fin panel de numero de protocolo -->

          <div class="form-group">
              <div class="col-sm-12" align="right">
               <button id="addBlockProtocolo"  class="btn btn-default btn-sm">Agregar Protocolo  <span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>
              
        </div>  <!-- fin panel body -->
  
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-12" align="right">
              <a href="../../../individuopadre/alta" >
              <button type="button" class="btn btn-default" id="btnvalidar">Continuar</button>
              </a>
            </div>
          </div>
        </div> <!--fin panel footer-->
      </form>
    </div>
  </div>
</div>

{% endblock %}


{% block javascript %} 
<script type="text/javascript">
// el javascript de los select muestra y diagnostico estan en BS_select.js
$(document).ready(function() {
  var num = 0;
  $("body").on('click',"#addBlockDiagnostico", function(){
    var newLine = $('#linea_diagnostico').clone()
                    .removeAttr('id')
                    .removeAttr('style')
                    .show();
    num = num + 1;
    var lineaId = "linea_diagnostico" + num;
    var lineaNueva = $('.diagBase').clone().attr('id', lineaId).removeClass('diagBase');
    $(this).parent().parent().parent().append(newLine);
    return false;
  });
  $("#addBlockProtocolo").click(function(){
    var newProt = $('#panelProtocolo').clone()
                        .removeAttr('id')
                        .removeAttr('style')
                        .show()
                        .appendTo('#block-protocolo')
    return false;
  });
    var selectmuestra = "{{instance.muestra.id}}"
        $.ajax({
            url:"/j_muestra/",
            type:"GET",
            dataType: "json",
            success: function(muestra){
                $.each(muestra,function(index, obj) 
                {   
                    if(obj.id == selectmuestra)
                    {
                    $('#muestra').append('<option selected value=' + obj.id + '>' + obj.descripcion + '</option>');
                    }
                    else{
                    $('#muestra').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
                    }
                });
            }
        }); // fin selectmuestra
    var selectdiagnostico = "{{instance.diagnostico.id}}"
        $.ajax({
            url:"/j_diagnostico/",
            type:"GET",
            dataType: "json",
            success: function(diagnostico){
                $.each(diagnostico,function(index, obj) 
                {   
                    if(obj.id == selectdiagnostico)
                    {
                    $('#diagnostico').append('<option selected value=' + obj.id + '>' + obj.descripcion + '</option>');
                    }
                    else{
                    $('#diagnostico').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
                    }
                });
            }
        }); // fin selectdiagnostico
    
});
</script> 
{% endblock %}

