{% extends 'base.html' %}
{% block content %}

{% include 'includes/modal_Info_Iden.html' %}
{% include 'includes/modalMasOpciones.html' %}
{% include 'includes/modalMasOpcionesCopy.html' %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }}</h3>
			</div>
			<!-- <form class="form-horizontal" method="POST" action="">{% csrf_token %} -->
			<div class="form-horizontal">
				<div class="panel-body">
					<table class="table table-striped table-hover table-condensed table-responsive" align="center" id="tabla">
						<thead class="thead-default">
							<tr>
								<th class="col-sm-1"><label for="numero">N°</label></th>
								<th class="col-sm-6"><label for="identificacion">Identificacion <a href="#" data-toggle="modal" data-target="#infoIdentModal"><span class="glyphicon glyphicon-question-sign"></span></a></label></th>
								<th class="col-sm-3"><label for="raza">Raza</label></th>
								<th class="col-sm-1"></th>
								<th class="col-sm-3"><label for="numero"><button id="agregar_individuo"  class="btn btn-default btn-sm">Agregar Individuo  <span class="glyphicon glyphicon-plus"></span></button></label></th>
							</tr>
						</thead>
						<tbody >
							<tr id="hidden-row-ind" style="display: none">
								<td class=numeracion>
									<p>1</p>
								</td>
								<td><input type="text" class="form-control identificacion" id="identificacion" onkeyup="validacion('identificacion');" name="identificacion" value="{{ instance.identificacion }}"></td>
								<td><select class="form-control razaSel raza" name="raza" onchange="validacion('raza');"></select></td>
								<td><a id="botonIngresarMasOpciones" class="btn btn-default ModalMasOp" data-toggle="modal" data-target="#ModalMasOp" class="btn btn-default">Mas Opciones</a></td>
								<td><button class="btn btn-danger btn-eliminar-indi">Eliminar</button></td>
							</tr>
							<!-- <tr>
								<td>
									<ol>
										<li></li>
									</ol>
								</td>
								<td><input type="text" class="form-control identificacion" id="identificacion" onkeyup="validacion('identificacion');" name="identificacion" value="{{ instance.identificacion }}"></td>
								<td><select class="form-control razaSel raza" name="raza" onchange="validacion('raza');"></select></td>
								<td><a id="botonIngresarMasOpciones" class="btn btn-default ModalMasOp" data-toggle="modal" data-target="#ModalMasOp0" class="btn btn-default">Mas Opciones</a></td>
								<td><button class="btn btn-danger btn-eliminar-indi">Eliminar</button></td>
							</tr> -->
						</tbody>
					</table>
				
				</div>	<!-- fin panel body -->

				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-12" align="right">
							<!-- <a href="../../home_user" > -->
							<button type="button" class="btn btn-default" id="btnvalidar">Continuar</button>
							</a>
						</div>
					</div>
				</div> <!--fin panel footer-->
			</div>
			<!-- </form> -->
		</div>
	</div>
</div>


{% endblock %}

{% block javascript %} 
<script type="text/javascript">
$(document).ready(function() {

	var num = 0;
	var count=1;
	$("body").on('click', "#agregar_individuo", function(){
		var newInd = $('#hidden-row-ind').clone()
			.removeAttr('id')
			.removeAttr('style')
			.show();
			num = num +1;
			var modIdent = "ModalMasOp" + num;
			var modDataTarget = "#ModalMasOp" + num;
			var modBase = $('.modalBaseMO').clone().attr('id', modIdent).removeClass('modalBaseMO');
			newInd.find("#botonIngresarMasOpciones").attr('data-target', modDataTarget);
			$(this).parent().parent().parent().parent().append(newInd);
			$(this).parent().parent().parent().parent().append(modBase);
			
			var numeracion = $('#tabla tbody').find('.numeracion').append(count);

		return false;
	});

	$("body").on('click', ".btn-eliminar-indi", function(){
	    $(this).parent().parent().remove(); // elimina linea de diagnostico 
	  });

    var selectraza = "{{instance.raza.id}}"
        $.ajax({
            url:"/j_raza/",
            type:"GET",
            dataType: "json",
            success: function(raza){
            	$('.razaSel').append('<option selected value=""></option>');
                $.each(raza,function(index, obj) 
                {   
                	if(obj.activo == true){
	                    if(obj.id == selectraza)
	                    {
	                    $('.razaSel').append('<option selected value=' + obj.id + '>' + obj.descripcion + '</option>');
	                    }
	                    else{
	                    $('.razaSel').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
	                    }
                	}
                });
            }
        }); // fin selectraza

    var selectcategoriae = "{{instance.categoriae.id}}"
        $.ajax({
            url:"/j_categoriae/",
            type:"GET",
            dataType: "json",
            success: function(categoriae){
                $.each(categoriae,function(index, obj) 
                {   
                	if(obj.activo == true){
	                    if(obj.id == selectcategoriae)
	                    {
	                    $('.categoriaeSel').append('<option selected value=' + obj.id + '>' + obj.descripcion + '</option>');
	                    }
	                    else{
	                    $('.categoriaeSel').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
	                    }
	                }    
                });
            }
        }); // finaliza el select

	$("body").on('click', "#rmvBlockIndiv", function(){
		$(this).parent().parent().remove();
	});
	
	/*validacion*/
	$("span.help-block").hide();

}); //ready 


	/*validacion*/
	function verificar(){
		var v1=0,v2=0;

		v1=validacion('identificacion');
		v2=validacion('raza');
		console.log(v1,v2);
		if(v1 == true && v2 == true){
			return true;
		}
		else{
			return false;
		}
	}//verificar

	$("#btnvalidar").click(function(){
		if(verificar() == true){
			$("#formvalidar").submit();
			$(location).attr('href',"../../home_user");
		}
	});// boton validar

	//funcion retorna array de consulta bd 
	function getconbd(url, method)
	{
	    return JSON.parse($.ajax({
	        type: method,
	        url: url,
	        dataType: 'json',
	        async:false,
	        success: function(data)
	        {
	            return data;
	        }
	    }).responseText);
	}//consulta bd

	function validacion(campo){
		if(campo==='identificacion'){
			var truefalse=true;
			var error=-1;
			$('.'+campo).each(function(i, elem){
			console.log('elem1  ',elem);	
			inputtext = $(elem).val();
	        console.log('inputtext  ',inputtext);
			if(inputtext == null || inputtext.length == 0 || /^\s+$/.test(inputtext)){
				$(elem).parent().attr("class","has-error has-feedback");
				error++;
				console.log('inputtext2  ',inputtext);
				}
			else{
				$(elem).parent().attr("class","has-success has-feedback");
				console.log('inputtext3  ',inputtext);				
				}	
			});
			
			if(error > 0){
				return false;
			}
			else{
				return true;
			}
		}//identificacion
		/*if(campo==='identificacion'){
	        inputtext = document.getElementById(campo).value;
	        console.log(inputtext);
	        if(inputtext == null || inputtext.length == 0 || /^\s+$/.test(inputtext)){
	            $('#icon'+campo).remove();
	            $('#'+campo).parent().parent().attr("class","has-error has-feedback");
	            $('#'+campo).parent().children("span").text("Debe ingresar una "+campo+"").show();
	            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-remove form-control-feedback'></span>");
	            return false;
	        }
	        else{
	            $("#icon"+campo).remove();
	            $('#'+campo).parent().parent().attr("class","has-success has-feedback");
	            $('#'+campo).parent().children("span").text("").hide();
	            $('#'+campo).parent().append("<span id='icon"+campo+"' class='glyphicon glyphicon-ok form-control-feedback'></span>");
	            return true;                
	        }
	    }//identificacion*/

		if(campo==='raza'){
			var truefalse=true;
			var error=-1;
			$('.'+campo).each(function(i, elem){
			var indice = $(elem).val();
			console.log('indice  ',indice);
			if(indice == null || indice == 0 ){
				$(elem).parent().attr("class","has-error has-feedback");
				error++;
				console.log('indice2  ',indice);
				}
			else{
				$(elem).parent().attr("class","has-success has-feedback");
				console.log('indice3  ',indice);
				}	
			});
			
			if(error > 0){
				return false;
			}
			else{
				return true;
			}		
		}//raza
		/*if(campo==='raza'){
			indice = document.getElementById(campo).selectedIndex;
			console.log(indice);
			if(indice == null || indice == 0){
				$('.razaSel').parent().parent().attr("class","form-group has-error");
				return false;
			}
			else{
				$('.razaSel').parent().parent().attr("class","form-group has-success");
				return true;
			}
		}//especie*/			
	}//validacion


</script>
{% endblock %}