{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <form class="form-horizontal" id="formvalidar" method="POST" action="">{% csrf_token %}
                <div class="panel-body">

<!-- PROTOCOLO -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Protocolo</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>

<!-- SOLICITUD DE ANALISIS -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Solicitud de Analisis</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>

<!-- IINDIVIDUOS -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Individuos</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>


                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}


{% block javascript %} 
<script type="text/javascript">





</script> 
{% endblock %}
