{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }}</h3>
			</div>
			<div class="panel-body">

				<form class="form-horizontal" method="POST" action="">{% csrf_token %}
					<div class="form-group">
						<label class="control-label col-sm-2" for="descripcion">Descripcion:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ instance.descripcion }}">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="especie">Especie:</label>
						<div class="col-sm-10">
							<select name="especie" class="form-control" id="sel_especie"></select>
						</div>
					</div>
					
					<div class="form-group">
			    		<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Enviar</button>
						</div>
					</div>
				</form>
			</div>
			
			<!-- <div class="panel-footer">
				<ul class="list-inline">
					<li>
						<a href="#">
					Modificar<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</li>
					<li>
						<a href="../delete/{{ instance.id }}">
					Eliminar<span class="glyphicon glyphicon-remove"></span>
						</a>
					</li>
				</ul>
			
			</div> -->
		</div>
	</div>
</div>

{% endblock %}


{% block javascript %} 
<script type="text/javascript">
$(document).ready(function() {
		var select = "{{ instance.especie.id }}"
		$.ajax({
            url:"/j_especie/",
            type:"GET",
            dataType: "json",
            success: function(especie){
            	console.log(select)
            	$.each(especie,function(index, obj) 
				{	if(obj.id == select){
					$('#sel_especie').append('<option selected value=' + obj.id + '>' + obj.descripcion + '</option>');
					}
					else{
					$('#sel_especie').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');	
					}
				});
            }
        });	


	});  
</script>
{% endblock %}