{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <form class="form-horizontal" id="formvalidar" method="POST" action="">{% csrf_token %}
                <div class="panel-body">

                    <div class="form-group">
                        <div class="divalidacion">
                            <label class="control-label col-sm-2" for="establecimiento">Establecimiento:</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="establecimiento" id="establecimiento" onchange="validacion('establecimiento');"></select>
                            </div>
                        </div>

                        <div class="divalidacion">
                            <label class="control-label col-sm-2" for="veterinario">Veterinario:</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="veterinario" id="veterinario" onchange="validacion('veterinario');"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="divalidacion">
                            <label class="control-label col-sm-2" for="motivo">Motivo:</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="motivo" id="motivo" onchange="validacion('motivo');"></select>
                            </div>
                        </div>

                        <div class="divalidacion">
                            <label class="control-label col-sm-2" for="especie">Especie:</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="especie" id="especie" onchange="validacion('especie');"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="divalidacion">    
                            <label class="control-label col-sm-2" for="fecha">Fecha:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control fecha" id="fecha" name="fecha" onkeyup="validacion('fecha');" value="{{ instance.fecha }}">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="obs">Observaciones:</label>
                        <div class="col-sm-9">
                            <textarea row="3" maxlength="85" class="form-control" id="obs" name="obs" value="{{ instance.obs }}"> </textarea>
                        </div>
                    </div>

                </div> <!--fin panel body-->

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6" align="left">
                            <a href="{% url 'bsuser:home_user' %}"><span class="glyphicon glyphicon-chevron-left"></span>  Volver</a>
                        </div>
                        <div class="col-sm-6" align="right">
                            <!-- <a href="../../protocolo/alta" > -->
                            <button type="button" class="btn btn-default" id="btnvalidar">Continuar</button>
                            <!-- </a> -->
                        </div>
                    </div>
                </div> <!--fin panel footer-->
            </form>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %} 


<script type="text/javascript">
// para los select
$(document).ready(function() {
  $( "#fecha" ).datepicker();

	var selectestablecimiento = "{{ instance.establecimiento.id }}"
	var selectveterinario = "{{instance.veterinario.id }}"
	var selectmotivo = "{{instance.motivo.id }}"
	var selectespecie = "{{instance.especie.id }}"

	$.ajax({
            url:"/j_establecimiento/",
            type:"GET",
            dataType: "json",
            success: function(establecimiento){
                $('#establecimiento').append('<option selected value=""></option>');
                $.each(establecimiento,function(index, obj) 
                {   
                    console.log(establecimiento)
                    if(obj.activo == true){    
                        if(obj.id == selectestablecimiento)
                        {
                        $('#establecimiento').append('<option selected value=' + obj.id + '>' + obj.nombre + '</option>');
                        }
                        else{
                        $('#establecimiento').append('<option value=' + obj.id + '>' + obj.nombre + '</option>');
                        }
                    }    
                });
            }
        }); // fin select establecimiento
    $.ajax({
            url:"/j_veterinario/",
            type:"GET",
            dataType: "json",
            success: function(veterinario){
                $('#veterinario').append('<option selected value=""></option>');
                $.each(veterinario,function(index, obj) 
                {   
                    console.log(veterinario)
                    if(obj.activo == true){    
                        if(obj.id == selectveterinario)
                        {
                        $('#veterinario').append('<option selected value=' + obj.id + '>' + obj.apellido +','+ obj.nombre + '</option>');
                        }
                        else{
                        $('#veterinario').append('<option value=' + obj.id + '>' + obj.apellido +','+ obj.nombre + '</option>');
                        }
                    }
                });
            }
        }); // fin select veterinario
    $.ajax({
            url:"/j_motivos/",
            type:"GET",
            dataType: "json",
            success: function(motivo){
                $('#motivo').append('<option selected value=""></option>');
                $.each(motivo,function(index, obj) 
                {   
                    console.log(motivo)
                    if(obj.activo == true){    
                        if(obj.id == selectmotivo)
                        {
                        $('#motivo').append('<option selected value=' + obj.id + '>' + obj.descripcion + '</option>');
                        }
                        else{
                        $('#motivo').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
                        }
                    }
                });
            }
        }); // fin select motivo
    $.ajax({
            url:"/j_especie/",
            type:"GET",
            dataType: "json",
            success: function(especie){
                $('#especie').append('<option selected value=""></option>');
                $.each(especie,function(index, obj) 
                {   
                    console.log(especie)
                    if(obj.activo == true){    
                        if(obj.id == selectespecie)
                        {
                        $('#especie').append('<option selected value=' + obj.id + '>' + obj.descripcion + '</option>');
                        }
                        else{
                        $('#especie').append('<option value=' + obj.id + '>' + obj.descripcion + '</option>');
                        }
                    }
                });
            }
        }); // fin select especie


/*validacion*/
$("span.help-block").hide();
});//ready  

function guardar_solAn(){

        let SolAn = {
            establecimiento: $('#establecimiento').val(), 
            veterinario: $('#veterinario').val(),
            motivo: $('#motivo').val(),
            especie: $('#especie').val(),
            fecha: $('#fecha').val(),
            obs: $('#obs').val(),
        };
        
        localStorage.setItem( "SolAn", JSON.stringify( SolAn ) );

}

/*validacion*/
function verificar(){
    var v1=0,v2=0,v3=0,v4=0;

    v1=validacion('establecimiento');
    v2=validacion('veterinario');
    v3=validacion('motivo');
    v4=validacion('especie');

    console.log(v1,v2,v3,v4);
    if(v1 == true && v2 == true && v3 == true && v4){
        return true;
    }
    else{
        return false;
    }
}//verificar

$("#btnvalidar").click(function(){
    if(verificar() == true){
        $("#formvalidar").submit();
        // los datos estan OK 

        guardar_solAn();

        $(location).attr('href',"../../protocolo/alta");
    }
});// boton validar


//funcion retorna array de consulta bd 
function getconbd(url, method)
{
    return JSON.parse($.ajax({
        type: method,
        url: url,
        dataType: 'json',
        async:false,
        success: function(data)
        {
            return data;
        }
    }).responseText);
}//consulta bd

function validacion(campo){
    if(campo==='establecimiento' || campo==='veterinario' || campo==='motivo' || campo==='especie'){
        indice = document.getElementById(campo).selectedIndex;
        console.log(indice);
        if(indice == null || indice == 0){
            $('#'+campo).parent().parent().attr("class","has-error");
            return false;
        }
        else{
            $('#'+campo).parent().parent().attr("class","has-success");
            return true;
        }
    }//veterinario          

}//validacion

</script>
{% endblock %}