{% extends 'base.html' %}
{% block content %}


<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }}</h3>
			</div>
			<div class="panel-body">

				<dl class="dl-horizontal col-sm-6">
					<dt>ID</dt>
					<dd>{{ instance.id }}</dd>
					<dt>Descripción</dt>
					<dd>{{ instance.descripcion }}</dd>
					<dt>Técnica</dt>
					<dd>{{ instance.tecnica }}</dd>
					<dt>Muestra</dt>
					<dd>{{ instance.muestra }}</dd>
					<dt>Tercerización</dt>
					<dd>{{ instance.tercerizacion }}</dd>
					<dt>Estado</dt>
					<dd>{% if instance.activo == True %}Activo{%else%}Inactivo{%endif%}</dd>
					<dt>Pie de Pagina</dt>
					<dd>{{ instance.piepagina }}</dd>
				</dl>
				<dl class="dl-horizontal col-sm-6">
					
					{% for g in grupo_list %}
						<dt>{{ g.grupo }}</dt>
						{% for p in param_list %}
							{% if g.grupo == p.grupo %}
									<dd>{{ p.descripcion }}</dd>
							{% endif %}
						{% endfor %}
					{% endfor %}

				</dl>

			</div>
			<div class="panel-footer">
				{% if instance.activo == True %}
						<a href="../delete/{{ instance.id }}">
					Eliminar <span class="glyphicon glyphicon-remove"></span>
					{% else %}
					<a href="../activar/{{ instance.id }}">Activar</a>
					{% endif %}
						</a>	
			</div>
		</div>
	</div>
</div>

{% endblock %}
