{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }}</h3>
			
			</div>
			
            <div class="panel-body">

			<!-- SOLICITUD DE ANALISIS -->
			<div class="col-sm-12">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h3 class="panel-title">Solicitud de Analisis</h3>
		            </div>
		            <div class="panel-body">
		            	<div class="col-sm-6">
							<dl class="dl-horizontal">
								<dt>Veterinario</dt>
								<dd>{{ instance.solicitud.veterinario }}</dd>
								<dt>Fecha</dt>
								<dd>{{ instance.solicitud.fecha }}</dd>
								<dt>RENSPA</dt>
								<dd>{{ instance.solicitud.establecimiento.RENSPA }}</dd>
								<dt>Establecimiento</dt>
								<dd>{{ instance.solicitud.establecimiento }}</dd>
								<dt>N. de Protocolo</dt>
								<dd>{{ instance.protocolo.numero }}</dd>
		            		</dl>
		            	</div>
		            	<div class="col-sm-6">
							<dl class="dl-horizontal">
								<dt>Diagnostico</dt>
								<dd>{{ instance.diagnostico }}</dd>
								<dt>Muestra</dt>
								<dd>{{ instance.diagnostico.muestra }}</dd>
								<dt>Tecnica</dt>
								<dd>{{ instance.diagnostico.tecnica }}</dd>
								<dt>Observaciones</dt>
							<dd>{{ instance.solicitud.obs }}</dd>
								
		            		</dl>
		            	</div>
		            </div>
		        </div>
			</div>

<!-- panel para grupos con visualizacion de tablas -->
<form class="form-horizontal" method="POST" id='formupdateDA' action="">{% csrf_token %} 
			{% for key, value in grupos.items %}
				{% for v in value %}
				<div class="col-sm-12">
			        <div class="panel panel-default">
			        	<div class="panel-heading">
			                <h3 class="panel-title">
			                	<!-- Titulo del grupo: -->
			                	 {{ key }}</h3>
			            </div>
			            <div class="panel-body" style="overflow-x:scroll">
							<table class="table table-striped table-hover table-condensed table-responsive" align="center">
								<thead class="thead-default">
									<tr>
										<th>Identificacion</th>
										{% for p in v %}
											<th>{{ p.descripcion|truncatechars:11 }}</th>
											<th></th>
										{% endfor %}
									</tr>
								</thead>
								<tbody>
								{% for i in object_list_ind %}
									<tr>
										<td>{{ i.individuoPadre.identificacion }}</td>
										{% for p in v  %}
										<td class="col-sm-2">
										{% for da, valor in da_list.items %}
											{% if i.individuoPadre.identificacion == da.individuoPadre.identificacion and p == da.parametros %}

											<div class="allind">
												{% if p.tipo_de_dato == 'S' %}
												<input type="hidden" class="posDA" name="dapos" value="{{da.id}}" />
												<input type="text" maxlength="10" class="form-control" id="valorDA" name="_" value="{{ valor }}">{% endif %}
												{% if p.tipo_de_dato == 'I' %}
												<input type="hidden" class="posDA" name="dapos" value="{{da.id}}" />
												<input type="number" maxlength="10" class="form-control" id="valorDA" name="_" value="{{ valor }}">{% endif %}
												{% if p.tipo_de_dato == 'F' %}
												<input type="hidden" class="posDA" name="dapos" value="{{da.id}}" />
												<input type="number" maxlength="10" step="0.01" class="form-control" id="valorDA" name="_" value="{{ valor }}">{% endif %}
												{% if p.tipo_de_dato == 'B' %}
												{% if valor == 'Positivo' %}
													<select id="valorDA" class="form-control selectpicker" >
										              <option value="Negativo">Negativo</option>
										              <option selected="selected" value="Positivo">Positivo</option>
										            </select>
										        <input type="hidden" name="dapos" class="posDA" value="{{da.id}}" />
										        {% else %}
										            <select id="valorDA" class="form-control selectpicker" >
										              <option selected="selected"value="Negativo">Negativo</option>
										              <option  value="Positivo">Positivo</option>
										            </select>
										        <input type="hidden" name="dapos" class="posDA" value="{{da.id}}" />
										            {% endif%}
											    {% endif %}	
											</div>
											{% endif %}
										{% endfor %}
										</td>
										<td>{{ p.unidadmedida}}</td>
										{% endfor %}
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				{% endfor %}
			{% endfor %}

<!-- panel para grupos con visualizacion items -->
			{% for objg in grupoi%}
			<div class="col-sm-12">
		        <div class="panel panel-default">
		        	<div class="panel-heading">
		                <h3 class="panel-title">{{ objg.grupo }} </h3>
		            </div>		            
		            <div class="panel-body">
		            	{% for da in da_list %}
		            		{% if objg.grupo == da.parametros.grupo and da.individuoPadre == indi.individuoPadre %}	
			            	<dl class="dl-horizontal">
			            		<dt>{{ da.parametros.descripcion }}</dt>
			            		<div class="allind">
			            			{% if da.parametros.tipo_de_dato == 'S' %}
						        <dd><input type="text" maxlength="10" class="form-control" id="valorDA" name="_" value="{{ da.valor }}">{{ da.parametros.unidadmedida}}</dd>
						        {% endif%}
						        {% if da.parametros.tipo_de_dato == 'F' %}
						        <dd><input type="number" maxlength="10" step="0.01" class="form-control" id="valorDA" name="_" value="{{ da.valor }}">{{ da.parametros.unidadmedida}}</dd>
						        {% endif%}
						        {% if da.parametros.tipo_de_dato == 'I' %}
						        <dd><input type="number" maxlength="10" class="form-control" id="valorDA" name="_" value="{{ da.valor }}">{{ da.parametros.unidadmedida}}</dd>
						        {% endif%}
						        {% if da.parametros.tipo_de_dato == 'B' %}
									{% if da.valor == 'Positivo' %}
										<select id="valorDA" class="form-control selectpicker" >
							              <option value="Negativo">Negativo</option>
							              <option selected="selected" value="Positivo">Positivo</option>
							            </select>
							        
							        {% else %}
							            <select id="valorDA" class="form-control selectpicker" >
							              <option selected="selected"value="Negativo">Negativo</option>
							              <option  value="Positivo">Positivo</option>
							            </select>
							       
							            {% endif%}
								    {% endif %}


				            		

				            		{% for a in indiv %}
				            		{% if a.parametros == da.parametros %}
					            	<input type="hidden" name="dapos" class="posDA" value="{{ a.id }}" />
					            	{% endif %}
				            		{% endfor %}
				            		</dd>
			            		</div>
			            	</dl>
			            		
							{% endif %}
		            	{% endfor %}
					</div>
		        </div>
			</div>
			{% endfor %}
			<div class="col-sm-12  piedap">
			{% if instance.piepagina %}
            	<textarea row="3" class="form-control" id="piepagina" placeholder="Observaciones realizadas durante el analisis" name="piepagina">{{ instance.piepagina}}</textarea>
			{% else %}
			<textarea row="3" class="form-control" id="piepagina" placeholder="Observaciones realizadas durante el analisis" name="piepagina"></textarea>
			{% endif %}
            	<input type="hidden" name="posdap" id='posdap' class="posdap" value="{{instance.id}}" />
			</div>
    		</div><!-- final panel-body -->
    		<div class="panel-footer">
                    <div class="row">
                    	<div class="col-sm-6" align="left">
    			<a href="{% url 'bsuser:v_detalleanalisispadre' id=instance.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
                    	</div>
                        <div class="col-sm-6" align="right">
                            
    			<button id="resultados"> Cargar Resultados </button>
    		                
                        </div>
                    </div></form>
                </div> <!--fin panel footer-->
    
		</div>
	</div>
</div>



{% endblock %}


{% block javascript %} 
<script type="text/javascript">
    controlGPS();

  	function controlGPS(){
      if( localStorage.getItem( "posicion" ) ){
        	localStorage.setItem( "posicion", 0);
      }
      else{
			localStorage.setItem( "posicion", 0);
      }
    }

$('#resultados').click(function(e){
		e.preventDefault();
		let posicionDA = []; 
		let valorDA = [];
		$(".allind").each(function(){
			posicionDA2 = [];
			var valDA = $(this).find('#valorDA').val();
			valorDA.push(valDA);
			$(this).find('.posDA').each(function(){
				var posDA = $(this).val();
				posicionDA2.push(posDA);
			})
			posicionDA.push(posicionDA2);
			//console.log('Posicion: ' + posDA + ' Valor: ' + valDA) 
		});
		posicionDA = JSON.stringify( posicionDA )
		valorDA = JSON.stringify( valorDA )
		
		$.ajax({
				type: 'POST',
				url: '/updateDA/',
				data:{
					posicionDA: posicionDA,
					valorDA: valorDA,
					posdap: $('#posdap').val(),
					piepagina: $('#piepagina').val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},	
				statusCode: {
					404: function () {
					},
					500: function(){
						alert('ERROR')
					},
					200: function (html) {
						alert('Guardado');
						$(location).attr('href',html); 
					}
				}
			});
// cambiar a una sola clase para recorrer, generar listaindiv[] e insertar indlista[] y dsps recorrer en views 
		
		});
</script> 
{% endblock %}
