{% extends 'base.html' %}
{% block content %}


<h1 align="center">Sistema de Gestión</h1>

<div class="row">
<!-- TABLA ULTIMOS PROTOCOLOS REGISTRADOS -->
<div class="col-sm-offset-1 col-sm-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			<ul class="list-inline">
				<li>
					<h3 class="panel-title">{{title}} </h3> 
				</li>
				<li>
					<a href="/solicitudanalisis/alta"/alta>Nueva Solicitud de Analisis <span class="glyphicon glyphicon-plus"></span></a>
				</li>

			</ul>
		</div>
		<div class="panel-body">
			<div class="col-sm-offset-6 col-sm-6">
				<form class="form-horizontal" method="GET" action="">
					<!-- {% csrf_token %} -->
					<div class="form-group">
						<div class="input-group">
							<input type="text" name="q" class="form-control" placeholder="Buscar Protocolo por N°" value="{{ request.GET.q}}">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
							</span>
						</div>

					</div>
				</form>
			</div>
					
				<table class="table table-striped table-hover table-condensed" align="center">
					<thead class="thead-default">
						<tr>
							<th>Número</th>
							<th>Veterinario</th>
							<th>Establecimiento</th>
							<th>Fecha</th>
							<th>Estado</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for obj in object_list %}
							{% if obj.protocolo.activo %}
								<tr>
							{%else%}
								<tr class="danger">
							{%endif%}
								<td><a href="{{ obj.get_absolute_url }}">{{ obj.protocolo.numero }}</a></td>
								<td>{{ obj.solicitud.veterinario }}</td>
								<td>{{ obj.solicitud.establecimiento }}</td>
								<td>{{ obj.solicitud.fecha }}</td>
								<td>{% if obj.protocolo.activo == True%}
									Activo{% else %} Eliminado{% endif %}
								</td>
<!-- 								<td><a href="{{ obj.get_absolute_url }}"><span class="glyphicon glyphicon-pencil"></span></td> 
								<td><a href="../detalleanalisis/delete/{{ obj.id }}"><span class="glyphicon glyphicon-remove"></span></td>
-->
							
							</tr>
						{% endfor %}
					</tbody>
				</table>


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}">Anterior</a>
        {% endif %}

        <span class="current">
            Pág. {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}">Siguiente</a>
        {% endif %}
    </span>
</div>

		</div>
	</div>
</div>



</div>
{% endblock %}



								