{% extends 'base.html' %}
{% block content %}


<h1 align="center"> Administración</h1>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Datos de la empresa</h3>
			</div>
			{% if emp %}
				{% for instance in emp %}
			<div class="panel-body">
				<dl class="dl-horizontal-homeadmin">
					<dt>Nombre</dt>
					<dd>{{ instance.nombre }}</dd>
					<dt>Subtitulo</dt>
					<dd>{{ instance.subtitulo }}</dd>
					<dt>Dirección</dt>
					<dd>{{ instance.direccion }}</dd>
					<dt>Ciudad</dt>
					<dd>{{ instance.ciudad }}</dd>
					<dt>Teléfonos</dt>
					<dd>{{ instance.telefono }}</dd>
					<dt>Email</dt>
					<dd>{{ instance.email }}</dd>
					<dt>Logo</dt>
					<dd>{{ instance.logo.url }}</dd>
				</dl>
			</div>
			<div class="panel-footer">
			<a href="../empresa/update/{{ instance.id }}">Modificar <span class="glyphicon glyphicon-pencil"></span></a>
			</div>
				{% endfor %}
				{% else %}
				<div class="panel-body"></div>
				<div class="panel-footer">
					<a href="../empresa/alta/">Cargar <span class="glyphicon glyphicon-pencil"></span></a>
				</div>
				{% endif %}
		</div>
	</div>
    <div class="col-md-4">
    	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Tablas Maestras</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
						<tr>
							<td><a href="/establecimiento">Establecimiento</a></td>
							<td><a href="/establecimiento/alta">Crear <span class="glyphicon glyphicon-plus"></span></a>
						</tr>
						<tr>
							<td><a href="/diagnostico">Diagnostico</a></td>
							<td><a href="/diagnostico/alta">Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>
						<tr>
							<td><a href="/veterinario">Veterinario</a></td>
							<td><a href="/veterinario/alta">Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>
						<tr>
							<td><a href="/usuarios">Usuarios</a></td>
							<td><a href="/register">Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>

				</table>
			</div>
		</div>
	</div>
	

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Tablas Auxiliares</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
						<tr>
							<td><a href="/categoria">Categoria</a></td>
							<td><a href="/categoria/alta"/alta>Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>
						<tr>
							<td><a href="/explotacion">Explotacion</a></td>
							<td><a href="/explotacion/alta"/alta>Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>
						<tr>
							<td><a href="/especie">Especie</a></td>
							<td><a href="/especie/alta">Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>
						<tr>
							<td><a href="/muestra">Muestra</a></td>
							<td><a href="/muestra/alta"/alta>Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>
						<tr>
							<td><a href="/motivos">Motivos</a></td>
							<td><a href="/motivos/alta">Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>
						<tr>
							<td><a href="/categoriae">Categoria de Especie</a></td>
							<td><a href="/categoriae/alta">Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>
						<tr>
							<td><a href="/especializacion">Especializacion</a></td>
							<td><a href="/especializacion/alta">Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>
						<tr>
							<td><a href="/raza">Raza</a></td>
							<td><a href="/raza/alta">Crear <span class="glyphicon glyphicon-plus"></span></a></td>
						</tr>
				
				</table>
			</div>
		</div>
	</div>
</div>



{% endblock %}
