{% extends 'base.html' %}
{% block content %}


<h1> BLACKSHEEP ADMIN </h1>
<h3>Listados:</h3>
<a class="btn btn-primary" href="/veterinario">Veterinario</a>
<a class="btn btn-primary" href="/categoria">Categoria</a>
<a class="btn btn-primary" href="/explotacion">Explotacion</a>
<a class="btn btn-primary" href="/especie">Especie</a>
<a class="btn btn-primary" href="/muestra">Muestra</a>
<a class="btn btn-primary" href="/motivos">Motivos</a>
<a class="btn btn-primary" href="/categoriae">Categoria de Especie</a>
<a class="btn btn-primary" href="/especializacion">Especializacion</a>
<a class="btn btn-primary" href="/raza">Raza</a>
<a class="btn btn-primary" href="/establecimiento">Establecimiento</a>

{% endblock %}
