{% extends 'base.html' %}
{% block content %}


<h1> {{title}} </h1>
<table class="table table-striped"  align="center">
	<tr>
		<td>ID</td>
		<td>Descripcion</td>
		<td>Tipo de dato </td>
		<td>Unidad Medida </td>
		<td>Grupo </td>
		<th>Estado</th>
		<th></th>
	</tr>
	{% for obj in object_list %}
	<tr>
		<td><a href="{{ obj.get_absolute_url }}">{{ obj.id }}</a></td>
		<td>{{ obj.descripcion }}</td>
		<td>{{ obj.tipo_de_dato }}</td>
		<td>{{ obj.unidadmedida }}</td>
		<td>{{ obj.grupo }}</td>
		<td>{{ obj.activo }}</td>
		{% if obj.activo == True %}
		<td><a class="btn btn-default btn-sm"href="delete/{{ obj.id }}">Eliminar</a></td>
		{% else %}
		<td><a class="btn btn-default btn-sm"href="activar/{{ obj.id }}">Activar</a></td>
		{% endif%}
	
	</tr>
	{% endfor %}
</table>

{% endblock %}