{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{title}} </h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-hover table-condensed" align="center">
					<thead class="thead-default">
						<tr>
							<th>#ID</th>
							<th>Descripcion</th>
							<th>Especie</th>
						</tr>
					</thead>
					<tbody>
						{% for obj in object_list %}
							<tr>
								<td><a href="{{ obj.get_absolute_url }}">{{ obj.id }}</a></td>
								<td>{{ obj.descripcion }}</td>
								<td>{{ obj.especie }}</td>
							
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="panel-footer">
				<a href="alta">
					Crear <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}