{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{title}} </h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-hover table-condensed" align="center">
					<thead class="thead-default">
						<tr>
							<th>Protocolo N°</th>
							<th>Diagnostico</th>
							<th>fecha envio</th>
							<th>fecha devolucion</th>
							<th>institución</th>
							<th>Informe</th>
						</tr>
					</thead>
					<tbody>
						{% for obj in object_list %}
						<tr>
							<td>{{ obj.detalleanalisispadre.protocolo.numero }}</td>
							<td>{{ obj.detalleanalisispadre.diagnostico.descripcion }}</td>
							<td>{{ obj.fecha_envio }}</td>
							<td>{% if obj.fecha_devolucion %}
								{{ obj.fecha_devolucion }}
								{% else %}
									<a href="#" class="btn btn-default btn-sm" role="button">Cargar Devolución</a>
								{% endif %}
							</td>
							<td>{{ obj.institucion }}</td>
							<td><a href="{{ obj.id }}/pdf" target="_blank" class="btn btn-default btn-sm" role="button">Ver</a></td> <!-- tiene que ir al informe en PDF  -->
						</tr>
						{% endfor %}
					</tbody>
				</table>
		  	</div>
		</div>
	</div>
</div>
{% endblock %}