{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <div class="panel-body">
            	<!-- SOLICITUD DE ANALISIS -->        	
            	<div class="col-sm-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h3 class="panel-title">Solicitud de Analisis</h3>
			            </div>
			            <div class="panel-body">
			            	<div class="col-sm-6">
								<dl class="dl-horizontal">
									<dt>Veterinario</dt>
									<dd>{{ instance.solicitud.veterinario }}</dd>
									<dt>Fecha</dt>
									<dd>{{ instance.solicitud.fecha }}</dd>
									<dt>RENSPA</dt>
									<dd>{{ instance.solicitud.establecimiento.RENSPA }}</dd>
									<dt>Establecimiento</dt>
									<dd>{{ instance.solicitud.establecimiento }}</dd>
									<dt>N. de Protocolo</dt>
									<dd>{{ instance.protocolo.numero }}</dd>
			            		</dl>
			            	</div>
			            	<div class="col-sm-6">
								<dl class="dl-horizontal">
									<dt>Diagnostico</dt>
									<dd>{{ instance.diagnostico }}</dd>
									<dt>Muestra</dt>
									<dd>{{ instance.diagnostico.muestra }}</dd>
									<dt>Tecnica</dt>
									<dd>{{ instance.diagnostico.tecnica }}</dd>
									
			            		</dl>
			            	</div>
			            </div>
			        </div>
				</div>
				<div class="col-sm-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h3 class="panel-title">Detalle</h3>
			            </div>
			            <div class="panel-body">
			            	<form class="form-horizontal" id="formvalidar" method="POST" action="">{% csrf_token %}
			                    <div class="form-group">
			                        <div class="divalidacion">    
			                            <label class="control-label col-sm-2" for="fecha_envio">Fecha de Envío:</label>
			                            <div class="col-sm-3">
			                                <input type="date" class="form-control" id="fecha_envio" name="fecha_envio" value="{{instance.fecha_envio}}">
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="divalidacion">    
			                            <label class="control-label col-sm-2" for="fecha_devolucion">Fecha de Devolución:</label>
			                            <div class="col-sm-3">
			                                <input type="date" class="form-control" id="fecha_devolucion" name="fecha_devolucion" value="{{instance.fecha_devolucion}}">
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label col-sm-2" for="institucion">Institución a la que se envía:</label>
			                        <div class="col-sm-9">
			                        	<input type="text" class="form-control" id="institucion" name="institucion" value="{{instance.institucion}}">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label col-sm-2" for="detalle">Detalle de Tercerización:</label>
			                        <div class="col-sm-9">
			                            <textarea row="3" class="form-control" id="detalle" name="detalle" value="{{instance.detalle}}"> </textarea>
			                        </div>
			                    </div>
				            </form>
			            	
			            </div>
			        </div>
				</div>

            </div> <!--fin panel body-->

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12" align="right">
                    	<!-- tiene que generar pdf en ventana a parte y despues volver al ver_detAn.html -->
                    	<a href="#" class="btn btn-default" role="button">Generar informe de Tercerización</a>
                    </div>
                </div>
            </div> <!--fin panel footer-->
    	</div>
    </div>
</div>

{% endblock %}
{% block javascript %} 


{% endblock %}
