{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <div class="panel-body">
            	<!-- SOLICITUD DE ANALISIS -->        	
            	<div class="col-sm-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h3 class="panel-title">Solicitud de Analisis</h3>
			            </div>
			            <div class="panel-body">
			            	<div class="col-sm-6">
								<dl class="dl-horizontal">
									<dt>Veterinario</dt>
									<dd>{{ instance.solicitud.veterinario }}</dd>
									<dt>Fecha</dt>
									<dd>{{ instance.solicitud.fecha }}</dd>
									<dt>RENSPA</dt>
									<dd>{{ instance.solicitud.establecimiento.RENSPA }}</dd>
									<dt>Establecimiento</dt>
									<dd>{{ instance.solicitud.establecimiento }}</dd>
									<dt>N. de Protocolo</dt>
									<dd>{{ instance.protocolo.numero }}</dd>
			            		</dl>
			            	</div>
			            	<div class="col-sm-6">
								<dl class="dl-horizontal">
									<dt>Diagnostico</dt>
									<dd>{{ instance.diagnostico }}</dd>
									<dt>Muestra</dt>
									<dd>{{ instance.diagnostico.muestra }}</dd>
									<dt>Tecnica</dt>
									<dd>{{ instance.diagnostico.tecnica }}</dd>
									
			            		</dl>
			            	</div>
			            </div>
			        </div>
				</div>
				<!-- FORM -->
				<div class="col-sm-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h3 class="panel-title">Detalle</h3>
			            </div>
			            <form class="form-horizontal" method="POST" action="">{% csrf_token %}
			            	<div class="panel-body">
			            		<input type="hidden" class="form-control" id="detalleanalisispadre" name="detalleanalisispadre" value="{{instance.id}}" placeholder="{{instance.id}}">
			                    
			                    <input pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"type="hidden" class="form-control" id="fecha_envio" name="fecha_envio" value="{{instance_t.fecha_envio|date:'c'}}">

			                    <!-- fecha de devolucion -->
			                    <div class="form-group">
			                    	<label class="control-label col-sm-3" for="fecha_envio">Fecha de Devolución:</label>
			                    	<div class="col-sm-3">
			                   		<input pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" type="text" class="form-control" id="fecha_devolucion" name="fecha_devolucion" value="{{instance_t.fecha_devolucion|date:'c'}}">
			                    	</div>
			                    </div>
			                    
			                    <input type="hidden" class="form-control" id="institucion" name="institucion" value="{{instance_t.institucion}}">
			                    
			                    <textarea style="visibility:hidden" row="5" class="form-control" id="detalle" name="detalle" value="{{instance_t.detalle}}">{{instance_t.detalle}}</textarea>
			                     
			            	
			            	</div>

							<div class="panel-footer">
								<div class="row">
						    		<div class="col-sm-12" align="right">
										<button type="submit" class="btn btn-default">Cargar</button>
									</div>
								</div>
							</div>
						</form>
			        </div>
				</div>
            </div> <!--fin panel body-->
    	</div>
    </div>
</div>

{% endblock %}
{% block javascript %} 
<script type="text/javascript">
$(document).ready(function() {
    $( "#fecha_envio" ).datepicker({
    	dateFormat: 'yy-mm-dd',
    });
    // $( "#fecha_envio" ).datepicker({
    // 	dateFormat: 'yy-mm-dd',
    // }).datepicker("setDate", new Date());

    // $( "#fecha_envio" ).datepicker({
    // 	dateFormat: 'dd-mm-yy',
    // }).datepicker("setDate", $('#fecha_envio').val());


    $( "#fecha_devolucion" ).datepicker({
    	dateFormat: 'yy-mm-dd',
    });
    //  $( "#fecha_devolucion" ).datepicker({
    // 	dateFormat: 'yy-mm-dd',
    // }).datepicker("setDate", new Date());

    // $( "#fecha_devolucion" ).datepicker({
    // 	dateFormat: 'dd-mm-yy',
    // }).datepicker("setDate", $('#fecha_devolucion').val());
});
</script>
{% endblock %}
