{% extends 'base.html' %}
{% block content %}

{%  include 'includes/modalindividuos.html' %}


<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }}</h3>
			</div>
			
            <div class="panel-body">

			<!-- SOLICITUD DE ANALISIS -->
			<div class="col-sm-6">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h3 class="panel-title">Solicitud de Analisis</h3>
		            </div>
		            <div class="panel-body">

						<dl class="dl-horizontal">
							<dt>Establecimiento</dt>
							<dd>{{ instance.solicitud.establecimiento }}</dd>
							<dt>Veterinario</dt>
							<dd>{{ instance.solicitud.veterinario }}</dd>
							<dt>Motivo</dt>
							<dd>{{ instance.solicitud.motivo }}</dd>
							<dt>Especie</dt>
							<dd>{{ instance.solicitud.especie }}</dd>
							<dt>Fecha</dt>
							<dd>{{ instance.solicitud.fecha }}</dd>
							<dt>Observaciones</dt>
							<dd>{{ instance.solicitud.obs }}</dd>
						</dl>

		            </div>
		        </div>
			</div>

			<!-- PROTOCOLO -->
			<div class="col-sm-6">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h3 class="panel-title">Protocolo</h3>
		            </div>
		            <div class="panel-body">

						<dl class="dl-horizontal">
							<!-- <dt>ID de Protocolo</dt>
							<dd>{{ instance.protocolo.id }}</dd> -->
							<dt>Numero de Protocolo</dt>
							<dd>{{ instance.protocolo.numero }}</dd>
							<dt>Muestra</dt>
							<dd>{{ instance.diagnostico.muestra }}</dd>
						</dl>
					</div>

		        </div>

				<div>
					<!-- INDIVIDUOS -->
					<a class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target="#myModal">Ver Individuo/s  <span class="glyphicon glyphicon-list-alt"></span></a> 
					<a href="../delete/{{ instance.id }}" class="btn btn-danger" role="button">Eliminar <span class="glyphicon glyphicon-remove"></span></a>
					<!-- deberia ir a eliminacionprotocolo/alta -->
				</div>
			</div>


			<div class="col-sm-12">
				<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Diagnósticos Asociados</h3>
						</div>
						<div class="form-horizontal">
							<div class="panel-body">
								<table class="table table-striped table-hover table-condensed" align="center">
									<thead class="thead-default">
										<tr>
											<th>Diagnóstico</th>
											<th>Estado</th>
											<th>Hoja de Trabajo</th>
											<th>Resultados</th>
											<th>Informes</th>
											<th>Tercerización</th>
										</tr>
									</thead>
									<tbody>
										<!-- poner con un for -->
										{% for obj in object_list %}
										<tr>
											<td>{{ obj.diagnostico.descripcion }}</td>
											<td>{% if obj.diagnostico.tercerizacion %}
												Tercerizado
												{%else%}
												Pendiente
												{%endif%}
											</td>
											{% if obj.diagnostico.tercerizacion %}
											<td></td>
											<td></td>
											{% else %}
											<td><a href="../../hojadetrabajo/{{ obj.id }}/pdf" target="_blank" class="btn btn-default btn-sm" role="button">Imprimir</a></td>
											<td><a href="../../hojadetrabajo/{{ obj.id }}" class="btn btn-default btn-sm" role="button">Cargar</a></td>
											{% endif %}
											<td><a href="#" class="btn btn-default btn-sm" role="button">Generar</a></td>
											{% if obj.diagnostico.tercerizacion %}
												<td></td>
												{%else%}
												<td><a href="../../tercerizar/{{ obj.id }}" class="btn btn-default btn-sm" role="button">Tercerizar</a></td>												{%endif%}
											
										</tr>
										{% endfor%}
										<!-- cerrar for -->
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td><button class="btn btn-default btn-sm">Informe General</button></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
			</div>

    		</div>
    
		</div>
	</div>
</div>



{% endblock %}


{% block javascript %} 
<script type="text/javascript">





</script> 
{% endblock %}
